[2013-06-20 18:00] potch opened #1 "Rename 'suffledeck' to 'deck' and 'shuffledeck-slide' to 'card'"
It turns out this component maps well to an existing metaphor, let's use it!

[2013-06-20 18:01] potch opened #2 "Rename show/hide/toggleTooltip to just their simple names, 'show', 'hide', 'toggle'."

[2013-06-20 18:05] potch opened #3 "Give <card>s a 'show' method."
This method will simply trigger a 'show' event on that card.

[2013-06-20 19:17] #2 closed, assigned to nobody

[2013-06-20 19:17] #3 closed, assigned to nobody

[2013-06-20 19:18] ldoubleuz commented on #3
Addressed in 1ed3134352a837884554587ab6a4e22639c20d98

[2013-06-20 19:20] ldoubleuz commented on #2
Addressed in 80ab5c31a1e52029d2bd64ff90f391da7efbc3e0

[2013-06-20 22:03] ldoubleuz commented on #1
Addressed in 858d63b59b8597b04181cc5c06e613eb96cfd4bb

[2013-06-20 22:03] #1 closed, assigned to nobody

[2013-06-24 22:46] potch opened #4 "Move callbacks to events where possible"
Hopefully this will actually simplify code, and allow for easier extension.

[2013-06-25 16:21] ldoubleuz commented on #4
Addressed in ae21f013ae71a3fd23475747e6f2f30b33a869f5

[2013-06-25 16:21] #4 closed, assigned to nobody

[2013-07-10 19:17] operatorjen opened #6 "Allow clicking on a specific date to create an event"
It would be good to allow a double-tap/click to open an event option where we can enter information. It would be even better if the event could allow me to add in custom HTML (if I want to include `<ul><li></li></ul>, <h1>, <form>` etc)

[2013-07-10 19:19] pennyfx commented on #6
Which component does this relate to?

[2013-07-10 19:20] operatorjen commented on #6
oh dammit... x-calendar!

[2013-07-11 22:36] potch opened #7 "rename x-view to x-layout"
reserving name 'view' for an MVC-inspired usage.

[2013-07-11 23:48] ldoubleuz commented on #7
Addressed in 9119f9e4b3529ea50eec04f77a89914311c4c38f, 1943c47220869ec66dfdfcec849b3c6c1d260d3e, a333ae1d96f8bd9ba0a065b736ab705f2fc754ef

[2013-07-11 23:48] #7 closed, assigned to nobody

[2013-07-13 00:37] ldoubleuz opened #8 "x-calendar drag toggling does not work on mobile devices"
When dragging across dates in mobile devices, dates are not toggled like when viewed in desktop browsers. This is due to an issue in the touchenter vs mouseenter logic, and will be addressed soon.

[2013-07-15 19:20] ldoubleuz commented on #8
Fixed as of e5817bca74ee6b5a9dc351a7d638ac284440434b

[2013-07-15 19:20] #8 closed, assigned to nobody

[2013-07-16 01:08] ldoubleuz commented on #6
Implemented as of 9a7a3f5e3ec03d5916ec31453b977eed0dcf05bc :)

Although it is not a built-in functionality of the component, I have included a demo in calendar/demo/calendar-demo.html of using the API hooks to do just this.

[2013-07-16 01:08] #6 closed, assigned to nobody

[2013-07-18 01:16] mattbasta opened #9 "`x-calendar` `controls` attribute doesn't seem to work"
Leaving off the `controls` attribute doesn't seem to affect whether `makeControls` is called, and controls are always added.

[2013-07-18 01:58] ldoubleuz commented on #9
This is intentional so that switching the attribute doesn't require node-rebuilding. However, I could change it so that the controls aren't added until the first time controls is set to true.

[2013-07-18 02:04] mattbasta commented on #9
Even on the first load, though. Having the static attribute in the HTML doesn't seem to change whether the controls are displayed or not; they're always added.

[2013-07-18 02:24] ldoubleuz commented on #9
That's...what I just said?

[2013-07-18 02:56] mattbasta commented on #9
I guess I don't understand. How do I turn them off then?

[2013-07-18 14:58] operatorjen opened #10 "x-calendar quoting bug for Date object"
Why does the following work

`<x-calendar chosen='[["2013-07-10", "2013-07-11"]]' controls multiple></x-calendar>`

and the following doesn't work?

`<x-calendar chosen="[['2013-07-10', '2013-07-11']]" controls multiple></x-calendar>`

double/single quote assignment for attributes and arrays should not affect whether it is a valid Date object?

[2013-07-18 16:04] ldoubleuz commented on #10
Mostly because JSON.parse is very strict about using double quotes. :(

[2013-07-18 18:00] ldoubleuz commented on #9
No need, I've already implemented the change I mentioned.

Fixed as of d58eba983606ad6f3794b73646c4550b4ae24dc4

[2013-07-18 18:00] #9 closed, assigned to nobody

[2013-07-18 22:35] #10 closed, assigned to nobody

[2013-07-25 12:58] ldoubleuz opened #12 "Localizing x-calendar"
Need to add support for other languages for month names in x-calendar, either with more labels or with the option to add custom labels

[2013-07-25 13:01] ldoubleuz opened #13 "Make x-calendar/x-datepicker responsive"
Right now, the days of x-calendars are a fixed size. We should change this to be more responsive using percentages of the container calendar.

May want to refactor the calendar content sizes to be based on the calendar's size instead of the other way around for a more responsive approach.

[2013-07-25 13:27] fwenzel commented on #12
Even without labels, putting Monday first is a big thing, as countries adhering to ISO_8601 place Monday first.

[2013-07-25 13:28] fwenzel commented on #12
(i.e., most countries)

[2013-07-25 19:00] wfwalker opened #14 "x-iconbutton tag does not preserve CSS class"
steps to reproduce:
1. create a back button &lt;x-iconbutton class="back"&gt;Back&lt;/x-iconbutton&gt;
2. inspect the element in the browser and see that it has turned into &lt;span class="x-iconbutton-label"&gt;
3. note that the CSS class has not been carried over into the span tag

[2013-07-25 19:01] potch commented on #14
We should be striving to preserve attributes on custom elements, adding our own values when needed.

[2013-07-25 19:44] pennyfx commented on #14
The custom element should just be creating and wrapping a  `<span>`  so the class="back" should still be on the custom element.

[2013-07-25 19:46] ldoubleuz commented on #14
The iconbutton didn't turn into a span, it's just that inspecting the element by rightclicking the button brings up the span that was used to wrap the label for positioning. The x-iconbutton element should be the same class as before.

[2013-07-25 19:49] ldoubleuz commented on #12
Label-editing addressed in 5c83a7ef22ad0e41df09636e5ecde395cbfe6c1e
Weekday start editing addressed in 91eeb9a1632895edbf1d302a8c74f7560b58b7ac

[2013-07-25 19:49] #12 closed, assigned to nobody

[2013-07-25 20:06] #14 closed, assigned to nobody

[2013-07-25 20:47] wfwalker commented on #14
ok, my mistake, I copied one of your examples wrong. I got it working. thanks!

[2013-07-26 09:50] fwenzel opened #15 "Font filename misspelled"
`OpenSans-Semibold.ttf` in `dist/` needs to have an uppercase "b" in "bold". Compare what the CSS file says, and use the exact same spelling :)

@mattbasta pointed it out to me that my app has a 404, and this was why.

Thanks!

[2013-07-27 06:52] ldoubleuz commented on #15
Oops, I'm dumb. Just got off the plane, so this is fixed as of 4f8235266db5979f7746c939cc08604cce11ee9e

[2013-07-27 06:52] #15 closed, assigned to nobody

[2013-07-29 18:37] ldoubleuz commented on #13
As of bd2283ee598ca1b557373450ecdcfd0e69d7281b, calendar day widths are now set with percentages, allowing modification of the `.month`'s width to affect day widths.

Although this still requires a set width on individual months, it is easier to calculate a single overall width instead of the width of each day. The width is set on months instead of x-calendar, as we may want calendars with more th

[2013-07-31 02:19] ldoubleuz opened #16 "x-tooltips stretch parent containers even when not visible"
When x-tooltips are not visible, they still affect document flow, causing parent containers to stretch if the tooltip is too large.

Attempts at setting display:none when hidden remove capability for CSS transitions (short of using requestAnimationFrame, which isn't supported on Android browsers). Currently looking into a width/height 0 based approach.

[2013-07-31 18:06] ldoubleuz commented on #16
Addressed in a1af0cb475a9db381516829ba485f242a4540f9d

[2013-07-31 18:06] #16 closed, assigned to nobody

[2013-08-07 13:08] sole opened #17 "Make?"
Hey guys

Make?

In nodeland??

I thought Grunt was the commonly accepted solution to the building-phase-problem.

:-)

[2013-08-07 15:15] tofumatt commented on #17
If you can do it without requiring more tools though, why not? Make is super easy and nearly every developer has it.
- tofumatt | http://tofumatt.com

On 2013-08-07, at 9:08 AM, sole notifications@github.com wrote:

[2013-08-07 15:20] sole commented on #17
So my point was that... _web_ developers do _not_ use make.

Most of them will at most install node.js + npm by downloading a precompiled package with the installer, then double click it, and follow the instructions.

I mean I don't use make either unless I'm in C/C++ land. Its syntax is confusing to people who don't know it already, it's something different from anything else, and generally why!?

[2013-08-07 17:28] pennyfx commented on #17
What about the Windows users?    /ducks

[2013-08-07 17:37] pennyfx opened #18 "Move each component into its own repo"
Once the components are moved into individual repos I can register them with Bower and add them to the X-Tag Registry.

There are also other advantages like versioning and issue tracking on a per element basis.

[2013-08-07 20:53] ldoubleuz commented on #17
Cygwin? I have a link with instructions on how to get make with Cygwin in the docs. (It's how I set it up, at least.)

[2013-08-07 22:07] fwenzel commented on #17
Gnu Make runs on windows right?

[2013-08-07 22:41] pennyfx commented on #18
It's looks like there are a lot of dependencies between the custom elements and Brick assets in the demo pages.  I see a bunch of `../../../` stuff.  Can we get away with less bling on the each demo page?

If there are common assets between Brick components, then they will need to be split into a separate repo as well and brought in via bower then crunched together in a Grunt build step.

I'm work

[2013-08-07 22:48] pennyfx commented on #17
Yeah, I didn't know that existed.  But regardless, I think we should be moving towards Grunt for build tasks.
Having to push end users to install more software is not optimal.  Node/Npm and running `npm install` is already part of the process.  Simply include Grunt under `devDevpendencies`.  Then instead of running `make` as your next command, it becomes `grunt build` or even `grunt`.

[2013-08-08 03:39] fwenzel commented on #18
Makes sense, thanks for taking a look, Arron!

[2013-08-08 22:00] #13 closed, assigned to nobody

[2013-08-08 22:27] potch commented on #17
I explicitly didn't choose grunt in the short term because I wasn't interested in learning grunt when our main purpose was to ship code. Worth looking into, but not in the short term when make exists and works.

[2013-08-08 22:28] potch commented on #17
remember @sole, **Java** is still a "commonly accepted solution" in some parts.

[2013-08-08 22:35] potch opened #19 "17"

[2013-08-08 22:35] #19 closed, assigned to nobody

[2013-08-08 22:58] fwenzel commented on #19
17?

[2013-08-08 23:26] potch commented on #19
was an oopsie!

[2013-08-09 03:45] fwenzel opened #20 "On brick's website, overflow: hidden the flipping"
Since the demo shows a stylized phone, the transition should probably not break out of the phone's screen.

Though admittedly, that would be pretty cool in real life.

[2013-08-09 11:07] sole commented on #20
[code]

I wish I could favorite that, or upvote it, or re-issue it (it'd be akin to retweeting but in github context)

[2013-08-09 18:47] ldoubleuz opened #21 "Layout demo flexbox issues in FF18"
At the moment, if the section of an x-layout tag causes overflow, it won't constrain its height to fit the phone demo area on the demo page in FF18 (ie: old flexbox support). However, it will act fine in the testing page in component/layout/demo/testpage.html.

Since release is so close and this is a demo page only issue, this isn't a major issue, but I'm filing this issue as a reminder to go back

[2013-08-09 20:11] ldoubleuz commented on #21
Turns out its a flexbox issue. Fixed in the submodule as of https://github.com/x-tag/layout/commit/ef1a7779209243f45caf3711b56d0d42b2ea89ff

[2013-08-09 20:11] #21 closed, assigned to nobody

[2013-08-09 23:16] pennyfx commented on #18
I converted Datepicker.  https://github.com/x-tag/datepicker.

To make component self contained with the repo, I had to simplify the demo and remove all `../../../` references that dropped out of the repository.   All the remaining demo dependencies are in `demo/x-tag-components.(js | css)` and are updatable by running `bower install && grunt build`.

There are some shared Sass styles between all?

[2013-08-12 22:31] potch opened #22 "create mortar-angular-list-detail"

[2013-08-12 22:31] potch commented on #22
ugh. screwed up issues again.

[2013-08-12 22:31] #22 closed, assigned to nobody

[2013-08-13 15:29] csuwildcat opened #24 "Add more obvious way to find more demos"
Currently, demos live under Documentation - can we add something to make that more clear?

[2013-08-13 16:07] csuwildcat commented on #20
I noticed this too, and would add one suggestion: beyond simply adding `overflow: hidden`, we could modify the transition so it translated the Z axis back as it flipped - this way it would keep the edges in view. Perhaps that behavior is best served as an optional, boolean attribute, like `contain-flip` (we probably can think of a better name)

[2013-08-14 02:00] ldoubleuz commented on #24
I reworded the navbar to include the word "Demos" as a hotfix for now.

[2013-08-14 17:00] #24 closed, assigned to nobody

[2013-08-16 13:26] ShortlyMAB opened #25 "DatePicker crashes on Firefox"
"http://mozilla.github.io/brick/dist/brick.js:2" I got this crash when opening DatePicker  demo page everytime with Firefox.

[2013-08-16 14:05] oksome commented on #25
Same error here, for both x-calendar and x-datepicker demos :
- http://mozilla.github.io/brick/component/datepicker/demo/index.html
- http://mozilla.github.io/brick/component/calendar/demo/index.html

Tested on Ubuntu 13.04 x86_64, Firefox 23 (Ubuntu) and Firefox Nightly UX 26.0a1 (2013-08-15)

[2013-08-16 14:10] hutchy2570 commented on #25
It also crashes in Chrome on the calendar & datepicker demos.

Chrome 28.0.1500.95 on OSX 10.6.8

[2013-08-16 16:44] ldoubleuz commented on #25
Just for reference, what regions are your browsers running in? I have a hunch that it may be an issue with different dateformats.

Also, can you tell me if you are seeing the native browser datepicker, or the polyfilled text input version?

[2013-08-16 16:45] csuwildcat opened #26 "Brick logo is missing on Android stock browser"
This affects Android stock browser as recent as the Galaxy S4 running Android 4.3

[2013-08-16 16:49] csuwildcat commented on #25
@aydnbhdr we've collectively run all recent and edge versions of Firefox on Windows, Linux, and OS X, and still haven't been able to replicate this. Definitely seems to be either a regional or JS Date issue IMO, possible something like this --> https://github.com/eternicode/bootstrap-datepicker/issues/95#issuecomment-6292057

[2013-08-16 16:56] ldoubleuz commented on #26
Probably because Android Browsers <= 2.3 can't support SVG images, whoops.

[2013-08-16 16:59] csuwildcat commented on #26
This is being observed on the stock browser for Android 4.3, on a Galaxy
S4...
On Aug 16, 2013 9:56 AM, "Leon Zhang" notifications@github.com wrote:

[2013-08-16 17:24] fwenzel commented on #25
@sole was able to reproduce I think. Sole, are you running a Spanish browser?

[2013-08-16 17:30] sole commented on #25
Yes it's reproducible ;-)
My computer is set to use UK region settings

![screen shot 2013-08-16 at 17 04 35](https://f.cloud.github.com/assets/5609/976919/4585781a-0699-11e3-8d82-4e3e544e255a.png)
![screen shot 2013-08-16 at 17 05 43](https://f.cloud.github.com/assets/5609/976920/4a370e46-0699-11e3-845a-6515dea73e4c.png)
![screen shot 2013-08-16 at 18 28 01](https://f.cloud.github.com/assets/5609

[2013-08-16 17:39] hutchy2570 commented on #25
I'm set to UK too.

[2013-08-16 21:55] brennanmceachran opened #27 "Add Ideal Browser Support"
Is this a latest version of modern browsers only thing? Or are we aiming to support ie8+?

[2013-08-16 23:52] ldoubleuz commented on #27
This library is built on [x-tags](http://www.x-tags.org/), so for now, we can use those as the ideal support. (However, the exception is anything with flexbox, like x-layout or x-togglegroup will require IE10).

I'm hesitant to claim stable support for them in light of some of these bug reports, but these are the ideal at least.

[2013-08-17 00:59] ldoubleuz commented on #25
For now, we've pushed a stopgap fix as a 1.0.2beta release to prevent the infinite looping causing the crash. However, we are still working on reproducing/debugging the underlying issue caused by non-US dateformats.

[2013-08-17 03:02] fwenzel commented on #25
What commit is that fix? Thanks

[2013-08-17 03:04] ldoubleuz commented on #25
7ebc9fd8d3cd41577479492a811fe8171ee41fa8

[2013-08-17 03:05] shidhincr opened #28 "Is the calendar Demo broken ? It always displays only 1 date"
I went to the calendar demo in this url

http://mozilla.github.io/brick/component/calendar/demo/index.html

There I can see only one date for each examples. Is it a bug ?

[2013-08-17 06:24] bcbcarl commented on #28
Me, too. I can only see one date here.

[2013-08-17 07:56] ldoubleuz commented on #28
Hmm, what browsers are you using? Also, what region are you in? This could possibly be caused by non-US dateformats, similar to https://github.com/mozilla/brick/issues/25.

Someone offsite reported something similar, where it only displays "21" over and over. Is this similar to what you are seeing?

[2013-08-17 08:04] bcbcarl commented on #28
It looks just like this:
![(Calendar screenshot)](http://i.imgur.com/bEz7Lpe.png)

[2013-08-17 08:05] ldoubleuz commented on #28
Do you happen to be based in the UK or some other region with a non-US date format? Also, what browser are you using?

[2013-08-17 08:07] bcbcarl commented on #28
I use the latest version of Mozilla Firefox and Google Chrome.

Same problems here even I changed my date and time formats.
Mozilla Firefox 24.0b1 (en-US) didn't work properly either.
This problem existing under Windows 7 and Arch Linux.

![(date and time formats)](http://i.imgur.com/q0MNil2.png)

[2013-08-17 12:08] colingourlay commented on #28
Same issue here using Google Chrome from Australia
http://glui.me/?i=zismqomriauuksp/2013-08-17_at_10.07_PM_2x.png/

[2013-08-17 23:55] wilmoore commented on #17
@pennyfx
- [MSYS is a collection of GNU utilities such as bash, make, gawk and grep](http://www.mingw.org/node/18)
- [Make for Windows ](http://gnuwin32.sourceforge.net/packages/make.htm)
- [GNU utilities for Win32 -- includes make.exe](http://unxutils.sourceforge.net/)

@sole It is picking up steam. As far as I've seen, most of the packages in `npm` (as you say, **nodeland**) use `make`; this is

[2013-08-18 03:46] fwenzel commented on #17
Truth! :+1:

[2013-08-18 13:54] shidhincr commented on #28
I am using Google chrome , MacOS and from India. Issue still persist for me

[2013-08-18 21:15] cfjedimaster opened #32 "Missing font from download?"
Running a simple calendar demo I see this in the Network panel:

http://localhost/testingzone/bricktests/brick/OpenSans-SemiBold.ttf

The font is not included with the download. It certainly doesn't prevent me from playing with Brick, but I assume that this font should be removed from the CSS perhaps? Or included w/ the download?

[2013-08-18 21:41] cfjedimaster opened #33 "Layout and Decks together don't seem to work."
I tried to embed a deck inside a layout and while the header/footer displayed, the deck content did not.

Code:

<x-layout>

[code]

Note - it works in Firefox, but in Chrome the deck content is hidden.

[2013-08-18 21:43] cfjedimaster commented on #33
Also broken in iOS Safari.

[2013-08-18 22:49] ldoubleuz commented on #32
Whoops, good catch, I'll update the Makefile/release bundle soon.

[2013-08-18 22:57] ldoubleuz commented on #33
Ugh, this is a known issue with Webkit's CSS flexbox. Basically, x-deck tries to fill height:100% of its parent container, but in Webkit, if the parent-container is a flex item, height:100% children just go to zero height. There is a workaround [here](http://stackoverflow.com/a/15389545) for now where you can apply `position:relative` to the section and `position:absolute` to the deck, but I'll tr

[2013-08-19 01:40] ldoubleuz commented on #25
Fixed as of version [1.0.3beta](https://github.com/mozilla/brick/releases/tag/1.0.3beta)

[2013-08-19 01:40] #25 closed, assigned to nobody

[2013-08-19 01:40] ldoubleuz commented on #28
Fixed as of version [1.0.3beta](https://github.com/mozilla/brick/releases/tag/1.0.3beta)

[2013-08-19 01:40] #28 closed, assigned to nobody

[2013-08-19 01:40] ldoubleuz commented on #33
Fixed as of version [1.0.3beta](https://github.com/mozilla/brick/releases/tag/1.0.3beta)

[2013-08-19 01:40] #33 closed, assigned to nobody

[2013-08-19 01:40] ldoubleuz commented on #32
Fixed as of version [1.0.3beta](https://github.com/mozilla/brick/releases/tag/1.0.3beta)

[2013-08-19 01:40] #32 closed, assigned to nobody

[2013-08-19 01:50] cfjedimaster commented on #33
I just tested and I don't see it fixed. It definitely changed - but previously there was an empty space, now it is collapsed. Here it is in the release (1.0.2):

https://www.evernote.com/shard/s3/sh/e2ce457e-4674-47aa-98c3-2da23be8a9cc/3350e2c71270fae709daa2ef16fb1fcd

And here it is with the 1.0.3:

https://www.evernote.com/shard/s3/sh/a89b2206-085c-4b76-b95e-31da43aa270a/4ab9d2b68fda5239cb543a68

[2013-08-19 02:08] ldoubleuz commented on #33
Out of curiousity, does the parent container have a width/height applied? The x-layout defaults to 100% width/height of the parent, so it's up to the developer to provide the parent dimensions.

For example, this is what I see when I use the following structure:

[code]

![image](https://f.cloud.github.com/assets/1449660/983704/23196a02-0874-11e3-9673-ff2a854900f1.png)

[2013-08-19 14:20] cfjedimaster commented on #33
Confirmed that works. Question - how would you use this but still have it
be 100% high? In other words, I just want it to work. ;)

On Sun, Aug 18, 2013 at 9:08 PM, Leon Zhang notifications@github.comwrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-08-19 14:38] sole commented on #33
@cfjedimaster did you set the parent to be `height: 100%` ? :-)

[2013-08-19 15:00] cfjedimaster commented on #33
I did. When I do - it goes back to how it was (I mean after your fix, so
the header and footer are 'collapsed').

On Mon, Aug 19, 2013 at 9:38 AM, sole notifications@github.com wrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-08-19 15:03] sole commented on #33
it'd to be @ldoubleuz 's fix. So let's just wait until he wakes up and answers, I'm not the expert on the subject. Just wanted to dive in just in case you had overlooked the parent height thing :innocent:

[2013-08-19 16:36] ldoubleuz commented on #33
Hi Raymond, I'm not entirely clear on what you mean. What do you mean by expecting it to "just work"? What is the use case you're trying to apply? I could add a note to the site about needing parent dimensions, if that's what you mean.

Can you provide the source for your test case?

[2013-08-19 17:04] cfjedimaster commented on #33
Sorry, what I meant was - in most cases I don't want to bother setting the
height because it could be used on different devices. Does that make sense?

On Mon, Aug 19, 2013 at 11:36 AM, Leon Zhang notifications@github.comwrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-08-19 17:19] ldoubleuz commented on #33
Sure, but you don't have to set the height to be an explicit dimension. You could simply base it on percentages and still have it work on different browsers/devices. Can you describe how you are using this and/or provide the source for your use case so I can have a better understanding of how you are using this?

[2013-08-19 17:55] cfjedimaster commented on #33
But when I tried 100% it went back to the layout issue it had before. Sorry
if I'm being dumb here - I feel like I'm repeating myself. ;) So here is
the code I'm using:

https://gist.github.com/cfjedimaster/6272044

And the result in Chrome:

https://www.evernote.com/shard/s3/sh/b352f8c9-755b-4802-b722-c2a064aad964/78a3f0ac4723573aaf941ce2cdd287bb

Note how the deck doesn't show up. Same thing in

[2013-08-19 18:06] ldoubleuz commented on #33
Ah, I see the issue. You're applying the `height: 100%` to the `x-layout`, not its parent.

Height percentage inheritance still works the same as normal CSS would (ie: parents must have a height set for children percentages to work), so since the parent is the `<body>` element, you can get what you want just by adding the following style:

[code]

[2013-08-19 18:16] ldoubleuz commented on #26
Whoops, forgot to close this. Should be fixed as of 66692ce0e3af72c1a5cd590732931eb0bf49261f

[2013-08-19 18:16] #26 closed, assigned to nobody

[2013-08-19 18:30] cfjedimaster commented on #33
Kick butt - sorry for not getting what you meant earlier. That worked
perfectly. Thank you.

On Mon, Aug 19, 2013 at 1:06 PM, Leon Zhang notifications@github.comwrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-08-21 05:34] tychio opened #34 "demo bug in home"
![brick](https://f.cloud.github.com/assets/1452817/999155/4431fb72-0a23-11e3-9c9a-0a2dc69c5a46.png)

the content is overflow.

[2013-08-21 05:54] ldoubleuz commented on #34
Whoops, I'm dumb and accidentally committed some testing code. Should be fixed soon.

[2013-08-21 06:15] ldoubleuz commented on #34
Fixed in 1601672d6a3b90e14a0d412020e72a0d3a7be86f

[2013-08-21 06:15] #34 closed, assigned to nobody

[2013-08-21 19:13] kently opened #35 "Safari no-go"
Demos work great for me in Win7 Firefox, but not in Safari (not Win7, OS X nor iOS).

Not being able to play with it in a mobile browser makes this a nonstarter for me at the moment.

[2013-08-21 21:50] ldoubleuz commented on #35
Thanks for bringing this up. Turns out this is actually because the current version of x-tags' implementation of custom events is broken in Safari. I've filed a bug [here](https://github.com/x-tag/core/issues/24), and I'll update this when this changes.

[2013-08-22 13:21] igorshubovych commented on #35
Same applies to Mobile Safari.
So it basically does NOT work on iPhone and iPad.

[2013-08-22 15:06] fwenzel commented on #35
Thanks for bringing it up, it's not intentional and we'll fix it in the underlying web component library!

[2013-08-24 18:56] potch opened #36 "Add Hamburger-style menu shift component"
Would be a nice companion to Deck.

[2013-08-25 04:59] fwenzel commented on #36
Agreed! Also a pretty common thing to do in apps.

[2013-08-26 22:42] potch commented on #35
Fixed by f1eec67a.

Let us know if you see any specific iOS issues!

[2013-08-26 22:42] #35 closed, assigned to nobody

[2013-08-26 23:23] ldoubleuz commented on #36
Sounds good, I'll start working on it after I've settled into my schedule this week.

[2013-08-27 13:27] sayak-sarkar opened #37 "Components Sidebar Dropping too low"
The Components Sidebar is positioned a bit too low and as such tooltip menu option is hidden while scrolling down the page. This might be resolved possibly reducing the top margin for the Components Menu.

Attaching a screenshot of the page to better explain the issue:-

![bricks components menu](https://f.cloud.github.com/assets/1418735/1034616/4b58d1f2-0f1c-11e3-9080-87aa17b66fec.png)

[2013-08-27 13:49] robnyman opened #38 "Download link broken"
The download link at http://mozilla.github.io/brick/download.html is broken

[2013-08-27 13:50] zenorocha commented on #18
+1

I agree we should move each Brick component to a different repo.

I'm the creator of [customelements.io](http://customelements.io/), which is a gallery for Web Components and we're registering via Github repo.

For this reason only `appbar`, `flipbox`, `layout`, `modal`, `slidebox`, `toggle` are featured there.

[2013-08-27 15:57] csuwildcat opened #39 "Augment the x-layout demo to show advanced features"
We should be showing off the more advanced features of x-layout, so people can see that it is more that _just_ CSS with semantics.

[2013-08-27 16:01] csuwildcat commented on #36
This component is the x-shiftbox, it was intended to handle this exact use-case. Let's revitalize/rework that component and get it to production quality instead of creating a completely different one.'

Here's what I'd like to see us evolve x-shiftbox into, because it's completely, totally, 100% badass: http://tympanus.net/Development/MultiLevelPushMenu/

[2013-08-27 16:14] potch commented on #38
Fixed it. My apologies!

[2013-08-27 16:14] #38 closed, assigned to nobody

[2013-08-27 16:15] potch commented on #37
I'll take this, and tweak the sidebar to scroll instead of clip.

[2013-08-27 18:17] ldoubleuz commented on #39
Sure, I can take this after the layout documentation itself gets more fleshed out.

[2013-08-28 01:00] robnyman commented on #38
No worries. Great, thanks!

[2013-08-28 09:44] dlindenkreuz opened #40 "Add Date Range selection to x-calendar"
I highly recommend adding proper date range selection to the x-calendar component as selecting multiple dates one by one is not what users expect. Every calendar "widget" should provide this feature (and I guess most of the good ones do).

[2013-08-28 13:44] ldoubleuz commented on #40
If you want to be able to just pick a start and end date for a range instead of selecting the dates themselves, you can simulate this for the moment by utilizing two &lt;x-datepicker&gt;s, similar to how [jQuery UI does it](http://jqueryui.com/datepicker/#date-range).

However, date range selection would be a good feature, so adding a feature to restrict the available dates on an x-calendar would

[2013-08-28 14:01] eriwen commented on #17
@wilmoore Well said!

[2013-08-28 17:20] potch opened #41 "Automated testing"
Let's get a basic presence on Travis, and expand from there! I'll start with the basic "does the current brick bundle even load without JS errors" heartbeat.

[2013-08-28 18:15] ghost opened #42 "Styling x-tabbar-tab"
How to style x-tabbar-tab? Neither

[code]

nor

[code]

seem to work.

[2013-08-28 21:08] ldoubleuz commented on #42
Tabbar tabs actually have a default background gradient, so you'll also need to add `background-image: none` to your `x-tabbar-tab` rules.

[2013-08-28 21:43] ghost commented on #42
[code]

does not make any difference!

[2013-08-28 22:15] chriseaton opened #43 "Calendar Control - IE10 Bug"
On the calendar "Basic calendar with navigation controls" demo here:
http://mozilla.github.io/brick/demos/calendar/index.html

If you click the _previous month_ arrow several times eventually the calendar will disappear and insert a huge grey line through the center of the entire page (see attached image).

![ie10](https://f.cloud.github.com/assets/5247568/1045960/2e18af68-102f-11e3-94cf-348cd64d3

[2013-08-28 22:28] ghost commented on #42
Maybe I'm doing something wrong in the first place. Here is how I'm using Brick

[code]

[2013-08-28 23:25] ldoubleuz commented on #42
Ah, I think I see the issue. Styling the tabbar tab only styles the tab element, not the contents of the tab. Since you have an iconbutton in the tab, that means you'll need to apply styling to the iconbutton, as it has a similar default gradient background.

[2013-08-28 23:46] ghost commented on #42
I have tried that already and it did not work either. Even if I just add

[code]

to x-tabbar-tab I still get the default background..

[2013-08-29 00:19] potch commented on #42
Could you send along the markup of the page you're seeing this issue on, <html> to </html>. Feel free to remove any sensitive markup that's not relevant to the issue.

[2013-08-29 00:23] ghost commented on #42
I have posted all the relevant markup already here, please see the 4th post.

[2013-08-29 04:07] ldoubleuz commented on #42
Are you quite sure this is the only markup you're using? I've taken the markup you've given me and am able to change the styles of the tabbar.

My markup: http://pastebin.com/YpnRuTTd

My results:
![image](https://f.cloud.github.com/assets/1449660/1047302/83bb6a42-1060-11e3-80b2-c337b628dd34.png)

[2013-08-29 04:07] #42 closed, assigned to nobody

[2013-08-29 04:22] ghost commented on #42
Does not work either.

Here is a link for the [demo app](http://walkingtour.jit.su/tourmap/Whitehorse%20Historic%20Buildings)

It is meant for smartphones but should work on your laptop too. Since it utilizes getUserMedia you need Android 4.x and FF Aurora or Nightly, same on your laptop. On the laptop it works also with Chrome Beta, but has an issue on Android, probably also related to Brick.

I

[2013-08-29 04:30] tj commented on #17
web developers don't use make, they re-invent make ;)

[2013-08-29 04:31] ldoubleuz commented on #42
I'm not really sure what you're trying, as I'm able to edit the CSS of x-iconbutton fine.

For example, in the Chrome developer tools, add `background:red` to the bottom of the x-iconbutton declaration, and you should see the tabs turn red. Are you completely unable to see this in all browsers, or just specific ones?
![image](https://f.cloud.github.com/assets/1449660/1047349/bc9250b2-1063-11e3-965

[2013-08-29 04:56] ghost commented on #42
My bad, my custom .css got loaded first so this was the issue, sorry about that.

[2013-08-29 06:28] just-boris opened #44 "Syntax Error in demo in Google Chrome"
I use Chrome 28.0.1500.95 m and brick's demo page is failing with console message
`Uncaught TypeError: Cannot read property 'labels' of undefined brick.js:2`

[2013-08-29 07:22] potch commented on #43
Looking at reproducing it. We've had issues with calendar before - what locale/timezone are you in?

[2013-08-30 08:03] potch opened #45 "Migrate component styles to Stylus?"
Sass is nice! except that it adds ruby to our build stack. Would be awesome to move to Stylus, a JS-based CSS preprocessor. Thoughts?

[2013-08-30 08:09] sole commented on #45
Great idea! I'd like to see stylus in action too. I can help with this if you need any extra pair of eyes/hands.
Or maybe even documenting how to build-is the current sass step documented anywhere? I didn't see it in the Makefile.

[2013-08-30 18:13] potch commented on #45
@ldoubleuz I'd love to get your okay on this before we go forward!

[2013-08-30 18:23] fwenzel commented on #45
Stylus would have the added beauty of economies of scale from other teams at Mozilla (most notably, Marketplace) also using it. This overlap can be helpful.

@sole I'm afraid I can only let you lend your eyes OR hands to this bug, not both. :laughing:

[2013-08-30 19:54] ldoubleuz commented on #45
@potch Sure thing! I'm okay with converting to using Stylus to simplify the build stack.

[2013-08-30 20:01] potch opened #46 "Separate Functional and Visible styles"
I'd like each component to have a functional style file and a visual style file that we can optionally leave out in favor of other skins.

I'm volunteering to do this separation as part of the stylus migration.

[2013-08-30 20:36] potch commented on #45
Sweet, going to get cracking on this immediately.

[2013-08-31 05:20] marti1125 opened #47 "Question? <x-slide></x-slide> internal scroll"
Could I add internal scroll using overflow: scroll ?
and also I have tabs with different height.

[2013-09-01 06:44] arasbm opened #49 "website is down"
I just noticed http://mozilla.github.io/brick/index.html is down. I don’t know how else to contact you, so I create this issue hoping you get an email. Here is the error on homepage:

[code]

[2013-09-01 07:10] ldoubleuz commented on #49
Hmm, I'm afraid I'm unable to reproduce the error. It may have been a temporary issue.

[2013-09-01 07:10] #49 closed, assigned to nobody

[2013-09-01 07:12] ldoubleuz commented on #47
Hi,

For your question regarding scroll, yes, you could do that, as x-slides can be styled just like any other native dom element.

As for your question regarding tabs, I'm not sure what you're trying to ask. Could you rephrase the question?

[2013-09-01 07:13] #47 closed, assigned to nobody

[2013-09-01 15:28] marti1125 commented on #47
is for tab containers

[2013-09-01 16:11] ldoubleuz commented on #47
Er, sorry, I'm afraid I don't understand what you are asking. What about the tab containers?

[2013-09-01 16:33] marti1125 commented on #47
I am using this example - With <x-slidebox> (also dynamically assigned tab targets) http://mozilla.github.io/brick/demos/tabbar/index.html

![scroll](https://f.cloud.github.com/assets/223240/1064286/c4587422-1322-11e3-9349-aa90826d10e4.png)

in this slide I am loading all content via backbonejs

<x-slide><div id="tweets"></div></x-slide>

![scroll2](https://f.cloud.github.com/assets/223240/1064302

[2013-09-01 16:36] ldoubleuz commented on #47
Okay, and what would the issue be?

[2013-09-01 16:47] marti1125 commented on #47
Sorry :(
I correct my mistake

[code]

is possible you add automatically scroll in <x-slide></x-slide> when the content is big

[2013-09-01 18:39] ldoubleuz commented on #47
Sounds like you want the behavior of `overflow: auto`, which you can apply to the slide like any other element.

[2013-09-01 18:51] marti1125 commented on #47
yes :) thanks for you help me

[2013-09-02 03:26] potch commented on #45
I have some strawman stuff hanging out over here: https://github.com/mozilla/brick/compare/stylus Not ready for merge yet, but would love feedback. Going to change the name of `foundation` as there's an established CSS framework with that name.

[2013-09-03 00:44] ldoubleuz commented on #43
This was caused by an error in the logic of converting a "local" Date to be in the UTC timezone in certain edge cases. Fixed as of abae764eacb3f0e08082ad0d08efb7146a548703

[2013-09-03 00:44] #43 closed, assigned to potch

[2013-09-03 10:11] maitredede opened #50 "Add a nuget package"
Hi,

Do you think it can be possible to maintain a [Nuget](https://www.nuget.org/) package ?

Thanks.

[2013-09-03 14:37] fabiomagnoni commented on #46
@potch I'm happy to help you on it.

[2013-09-03 19:21] potch commented on #44
I'm not able to reproduce this. Are you still seeing the issue?

[2013-09-03 20:02] just-boris commented on #44
@potch nope.  Obviously It's already fixed

[2013-09-03 20:02] #44 closed, assigned to nobody

[2013-09-03 22:52] pennyfx commented on #45
@potch It looks like this creates a Brick dependency in the Calendar by having to reference ../../../mixins, etc..

If we break the common styles into another repo and use Bower, then the stylus import becomes  ../bower_components/brick-common/mixins.   This allows the element to be built in isolation and all dependencies are local to the element.  This is how js and css dependences are already ha

[2013-09-03 23:23] potch commented on #45
@pennyfx totally. I just placed those files in that location for the purposes of getting this started. When things are split up that approach makes complete sense.

[2013-09-04 06:06] arasbm opened #51 "x-deck and x-slide should respond to swipe gesture"
First let me tell you, I think brick is a very cool project. In order to learn more about brick, I started developing a simple Firefox OS app using it. I used x-slide, and then pushed to the phone -- thinking to myself: it is all going to work out of the box. Little did I know, it seems that brick currently does not handle swipe gestures at all.

When someone uses a slide deck, they expect to be a

[2013-09-04 17:50] potch commented on #51
I completely agree! The x-tag library which brick is built upon has support for these gestures, and we should ensure these components do the "right" (expected) thing in regards to them. We're **very** open to community contributions :) but are also happy to implement this functionality on the way to stable 1.0

Thanks!

[2013-09-04 18:51] fwenzel commented on #51
Swipe gestures make sense to me, though keep in mind that the strength of "x-deck" currently is the ability to pull up any card you want, by calling its show function. Going to the "next" slide (whatever that currently means) by default when I swipe would definitely not be expected behavior for me.

That said, I can see the usecase.

[2013-09-04 19:19] potch commented on #51
@fwenzel My gut reaction is that `deck` would have gesture support that is disabled by default, whereas `slidebox` would have support enabled by default. Either way, both should definitely support the gestures in some capacity.

[2013-09-04 19:38] fwenzel commented on #51
I like this suggestion, sounds like sane defaults. Plus they can share code ;)

[2013-09-04 19:40] arasbm commented on #51
how about this proposal:
- `x-deck` would act like a deck of cards if you slide your finger you remove the top card and expose the one under it (the card under does not move)
- `x-slide` when you swipe, the current card starts to move and a new one starts to slide into the frame (as if they are attached to each other instead of being stacked

But anyway, regardless of what we choose as default beh

[2013-09-05 11:03] paciellogroup opened #52 "icon button is not a button"
no semantics are exposed in accessibility layer ie no role. suggest using native HTML &lt;button> input type=button etc. If that is not an option refer to the ARIA design pattern for a button http://www.w3.org/WAI/PF/aria-practices/#button for making custom buttons accessible.

[2013-09-05 11:12] paciellogroup opened #53 "calendar component not accessible"
the calendar component (http://mozilla.github.io/brick/demos/calendar/index.html) is an interactive data table, but is not marked up as one and therefore the relationships between the data and headers is not conveyed (amongst other things) Suggest looking at the ARIA date picker design pattern http://www.w3.org/WAI/PF/aria-practices/#datepicker for info on making it understandable/usable accessibi

[2013-09-05 16:37] potch commented on #53
Thanks for the pointer to the design pattern! We're looking to bake in full ARIA goodness before we reach 1.0 stable, and this will go a long way toward that.

[2013-09-06 17:50] fburleigh opened #54 "Integration with other form elements could stand some work"
Hello.  First, thanks for the open stuff.  I think I'd much prefer this library to some others.

Now, here's the trouble.  On a simple, existing, uninteresting form I added a date picker.  It works!  What it doesn't (yet) do is "integrate": by that I mean crafting style to match the existing form isn't obvious, what with some extra wrapping with their own bordering and padding.  There's also some

[2013-09-08 00:56] navaru commented on #45
I would suggest to use visionmedia/rework instead of stylus, it offers greater flexibility.

[2013-09-09 09:22] sole commented on #54
Work on separating 'functional' from 'aesthetic' styles is in progress, not sure if that answers your question/plea, but you can keep track of that issue here: https://github.com/mozilla/brick/issues/46

[2013-09-10 23:05] pennyfx commented on #50
I'll look into it.

[2013-09-12 02:02] skierpage opened #55 "clicking dates in next/previous month picks wrong date"
On http://mozilla.github.io/brick/demos/datepicker/index.html , click to bring up the date picker, then click a grayed-out date from the next or previous month; for example, in September 2013, click the grayed-out 2 for October 2nd.

Result: instead of picking 2013-10-02, or advancing to October without selecting anything, it advances to October and picks whatever date is underneath where you clic

[2013-09-13 02:26] cfjedimaster opened #56 "Homepage throwing JS error in Chrome"
Getting this in Chrome dev tools and the 'flip' demo won't work:

Uncaught TypeError: Cannot read property 'labels' of undefined brick.js:2

[2013-09-13 02:31] ldoubleuz commented on #56
I'm unable to reproduce this. What version of Chrome are you using?

[2013-09-13 02:31] cfjedimaster commented on #56
Version 29.0.1547.65

[2013-09-13 02:36] ldoubleuz commented on #56
Hmm, that's pretty much the same version I'm using. What timezone/region are you in?

[2013-09-13 02:37] cfjedimaster commented on #56
CST. Um, Louisiana. Doubt that matters. ;)

On Thu, Sep 12, 2013 at 9:36 PM, Leon Zhang notifications@github.comwrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-09-13 02:43] ldoubleuz commented on #56
Does the crash occur if you visit the flipbox demo page itself? What about when you visit this testpage: http://mozilla.github.io/brick/component/flipbox/demo/testpage.html ?

[2013-09-13 02:45] cfjedimaster commented on #56
Flips work fine on the test page. On the demo page (
http://mozilla.github.io/brick/demos/flipbox/index.html) it fails with the
same error.

On Thu, Sep 12, 2013 at 9:43 PM, Leon Zhang notifications@github.comwrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-09-13 02:48] ldoubleuz commented on #56
Hmm, the only components that I can think of that could be using a labels property are x-calendars and x-datepickers. Can you let me know if either of the following testpages reproduces the error?
http://mozilla.github.io/brick/component/calendar/demo/testpage.html
http://mozilla.github.io/brick/component/datepicker/demo/testpage.html

[2013-09-13 03:22] cfjedimaster commented on #56
First returns: Uncaught TypeError: Cannot call method 'render' of undefined
Second returns the earlier error: TypeError: Cannot read property 'labels' of undefined [http://mozilla.github.io/brick/component/calendar/src/calendar.js:1726]

[2013-09-13 04:47] ldoubleuz commented on #56
Hmm, I still can't reproduce the issue you're seeing. Can you tell me more about the environment you're running in?

Also, what line is the crash reporting for "Uncaught TypeError: Cannot call method 'render' of undefined" on the calendar test page?

[2013-09-13 10:48] cfjedimaster commented on #56
Line # for error is calendar.js 1749

As for environment, OSX. Not sure what else I can tell you though.

[2013-09-13 23:45] IamKDO opened #57 "event.returnValue is deprecated"
event.returnValue is deprecated. Please use the standard event.preventDefault() instead.

[2013-09-14 06:41] ldoubleuz commented on #57
I'm afraid I'm not exactly sure which part of the library you are referring to. As far as I know, we do use event.preventDefault for Brick. Can you please provide more information about what you are referring to?

[2013-09-14 06:41] #57 closed, assigned to nobody

[2013-09-14 20:53] mcepl commented on #17
There are many places in the world (like my computer ATM), where node doesn't work at all (because of its complex dependencies on V8 etc., which is currently broken again), whereas I cannot imagine a computer which couldn't have working make. Of course, decent any OS ships it as part of system, the other system has at least plenty of third party ports.

[2013-09-14 21:02] mcepl opened #58 "Calendar doesn't switch to another month when clicks on a day outside of the current month"
Just noticed when playing with the calendar component and looking at #55 that the [x-calendar element](http://mozilla.github.io/brick/demos/calendar/index.html) doesn't have this ability at all.

It could be probably possible to add this functionality with additional event handlers, but it would be awesome if it was available per default.

[2013-09-16 21:53] sole commented on #17
OK closing since it seems no one wants to write a node script (including me) and make seems to work... for now :P

[2013-09-16 23:25] csuwildcat opened #59 "Use correct semantic elements for appbar --> headings instead of headers"
The appbar is currently coded to rely upon the user adding their title in a header element, this should expect an heading tag instead.

[2013-09-17 07:57] ghost opened #60 "Confused by License"
I am confused by BSD license in package.json and suggestion of MPL 2.0 in the project root which is strongly copyleft. These are very much on opposite poles of the spectrum. The MPL 2.0 is likely to raise eyebrows if there is some idea of broader adoption. Some clarity appreciated.

[2013-09-17 10:25] sole commented on #60
Hi!

Thanks for noticing. We'll make things consistent.

However, although "I am not a lawyer" I don't see issues with MPL2 and broader adoption. As far as I understand MPL2 is actually in between both sides, GPL and BSD.

"The MPL allows covered source code to be **mixed with other files under a different, even proprietary license**. However, code **files licensed under the MPL must remain under

[2013-09-17 14:53] ghost commented on #60
I think broader adoption may be hindered by such complication to be honest. These sorts of initiatives that reflect a trend and movement towards unencumbered open standards in my opinion should be the most liberal. I am not sure whether it is MPL because this is simply by default due to Mozilla's involvement or whether there has been any greater thought on the impact of commercial development and

[2013-09-17 15:03] sole commented on #60
That complication is pretty much the same as the MIT "complication" that asks you to preserve source authorship statements. I.e. give credit.

[2013-09-17 16:48] pennyfx commented on #17
@sole funny, you closed it right when I started working on it...  reopening.

[2013-09-17 16:49] sole commented on #17
Sorry! I just didn't want to distract you guys :)
Glad you started looking into it ^_^

[2013-09-17 17:01] ghost commented on #60
This is not equivalent. One is around the authorship/attribution where and the MPL is about applying one's own changes together with these sources while meeting the spirit of the MPL and making available the original sources. With BSD, there is minimal encumbrance. With MPL I cannot understand how one can practically apply the MPL within HTML to fulfill the requirements. If the license is MPL how

[2013-09-17 17:03] sole commented on #60
@fairwinds might I suggest you liberally add carriage returns, because it's really hard to read your answers? :-)

Also, the key to all this is distribution.

But I am not a lawyer. Are you?

[2013-09-17 17:25] potch commented on #60
@fairwinds I'll raise these issues and we'll discuss whether a license that does not require Source Disclosure makes sense for the project. The goal of the project is to make it easier to build apps, and I'll ask if MPL hinders that effort. Our legal team doesn't control the project by any means, but they're the smart people to whom I defer on these matters :hammer:

[2013-09-17 17:30] ghost commented on #60
Apologies on carriage returns. Expected github to look after leaving
text in a readable state. Hope this is better for you.

Nope on the lawyer question. Just a programmer and developer that likes
the direction I see in web standards and what you folks are doing.

That said, it is prudent to give licensing consideration and I of course
want  to live up to the spirit of open sources and comply with

[2013-09-17 17:48] sole commented on #60
@fairwinds it's strange, it might be a github bug. I'd suggest contacting them if you have the time, they'll fix issues quickly. That said, thanks for explaining. I see your position.

And I think @potch's answer is the most sensible one. Legal should look into this; let developers worry about development :-D

[2013-09-17 17:56] ghost commented on #60
@patch That is great. I am just hoping to be heard. The project is young
and licensing frames the how, what, and why of the use of it. It
will either encourage or discourage contribution to the work as a
result. If it is transparent and unencumbered, folks are really going to
love this. If not, I believe it may only lead to the perpetuation of
repos and projects that make this sort of work easier

[2013-09-18 17:51] potch commented on #60
@fairwinds thanks for caring enough to bring it up!

[2013-09-18 17:56] potch commented on #46
The separation has landed! 2b267eea separated each component's styles between 'scaffold' and 'skin' files, respectively. Leaving this issue open to track the ability to exclude the default skin in favor of an alternate.

[2013-09-18 17:56] potch commented on #45
Fixed by 2b267eea.

[2013-09-18 17:56] #45 closed, assigned to nobody

[2013-09-18 18:42] fwenzel commented on #46
docs++

[2013-09-18 23:03] jeluard commented on #56
I have a similar issue with latest Chrome Canary. No error message but `toggle` doesn't do anything.
This is with `#enable-experimental-web-platform-features` enabled in `chrome://flags` (disabled by default). Without the flag enabled it works as expected.

[2013-09-19 06:43] pennyfx commented on #56
@csuwldcat This sounds like the polyfill and Chromes native implementation may have diverged.

[2013-09-20 01:22] gkoberger opened #61 "Fresh coat of paint"
I felt Brick could use a bit of a refresh.

![main](https://f.cloud.github.com/assets/381393/1178058/7af0e454-219b-11e3-9ce6-c8fe654c13fb.png)

Clicking any of the types in "See it in action" would make the demo appear on the actual phone. The code would show up on the right, and any controls ("Flip Me") would show up on the actual UI.

The top bar and the text at the bottom could use a little lov

[2013-09-20 22:20] gkoberger commented on #61
Or:

![main2](https://f.cloud.github.com/assets/381393/1184264/ddfa85ee-2242-11e3-9e81-9961543489e2.png)

[2013-09-21 03:49] potch commented on #61
daaang.

[2013-09-21 03:57] potch commented on #41
We have basic travis support! https://travis-ci.org/mozilla/brick Next up, useful tests for individual components.

[2013-09-21 03:57] #41 closed, assigned to potch

[2013-09-21 03:58] potch commented on #46
ya docs would be nice :)

[2013-09-24 09:55] fwenzel commented on #56
@pennyfx Will you file an upstream bug and fix this, presumably on the x-tag level? Thanks

[2013-09-24 09:56] fwenzel commented on #61
Oooh

[2013-09-24 09:56] fwenzel commented on #61
Melikes.

[2013-09-24 18:16] pennyfx commented on #56
@potch I pulled in the latest polyfill changes that fixes this issue and updated Brick's ref to x-tag-core.  We're at tag 0.8.2 now.   Can you rebuild the site?

[2013-09-24 22:09] nickdesaulniers opened #63 "NS_ERROR_XPC_BAD_OP_ON_WN_PROTO: Illegal operation on WrappedNative prototype object"
specifically this line in my bundle:

[code]

[2013-09-24 22:10] potch commented on #63
@csuwldcat looks like an issue with gestures. If this is affecting FirefoxOS we need to fix asap.

[2013-09-24 22:16] nickdesaulniers commented on #63
If I separate the lines, specifically this line is the problem:

[code]

[2013-09-24 22:27] nickdesaulniers commented on #63
looks like:

[code]

works if I just comment out the line from my previous comment. @csuwldcat

[2013-09-25 16:13] potch commented on #63
@csuwldcat any traction on this? Need to fix people using the current build.

[2013-09-25 16:33] csuwildcat commented on #63
It was fixed and tagged yesterday ;)
On Sep 25, 2013 9:14 AM, "Potch" notifications@github.com wrote:

[2013-09-25 16:36] nickdesaulniers commented on #63
@csuwldcat , is it live in the production bundles?

[2013-09-25 16:51] csuwildcat commented on #63
It is, Brick probably needs to update
On Sep 25, 2013 9:36 AM, "Nick Desaulniers" notifications@github.com
wrote:

[2013-09-26 18:23] csuwildcat opened #64 "Remove all faux-Shadow-DOM-ish code"
Some components like iconbutton and tooltip implement their own faux-Shadow-DOM-ish wrap code. Further, even these faux-shadow wraps are different from component to component. This makes utilization of the component more difficult, and forces user to learn one-off DSLs for each one.

[2013-09-26 19:24] csuwildcat opened #65 "Use common DOM nomenclature for properties and methods"
We should be adherent to common DOM nomenclature whenever possible, for instance:

In iconbutton, there are the properties contentEl and iconEl. Nowhere in the DOM are element property getters truncated, as evidenced by: parentElement, firstElementChild, lastElementChild, etc.

[2013-09-26 19:26] csuwildcat commented on #56
Can we get a report on whether or not this is fixed as a result of the recent changes?

[2013-09-26 19:30] cfjedimaster commented on #56
I still get an error on the site.

[2013-09-26 19:31] pennyfx commented on #56
@potch Is the site updated?

[2013-09-26 19:42] csuwildcat commented on #56
@potch we updated the library a couple days ago, did the site ever get recompiled with that new version?

[2013-09-26 19:53] fwenzel commented on #64
oh? Link to code please?

[2013-09-26 21:40] csuwildcat commented on #64
I already referenced two examples: Tooltip (https://github.com/mozilla/brick/blob/master/component/tooltip/src/tooltip.js) and Iconbutton (https://github.com/mozilla/brick/blob/master/component/iconbutton/src/iconbutton.js)

These two components could stand to see radical simplification. Tooltip is (with comments) 1600 lines. We need a sheet of best practices, and to be adherent to them as much as

[2013-09-26 22:41] mythmon opened #66 "Download page should offer unminified versions too"
Some projects (like SUMO) prefer to put unminified files into source control, for ease of development, and then have a build process that minifies everything together.

It would be great if the download page that lets you build a custom bundle had a checkbox (probably checked by default) that lets you toggle minification.

[2013-09-26 22:52] sole commented on #63
Ooops, now I'm getting it too!

[2013-09-26 23:06] fwenzel commented on #64
Thanks! I'll leave the closer analysis up to Potch and Arron, but 1600 lines is impressive.

[2013-09-26 23:08] fwenzel commented on #66
Are you writing a patch? <3

[2013-09-26 23:35] mythmon commented on #66
Not yet, but I might when I'm done playing with d3! :dancer:

[2013-09-27 10:26] manishk3008 opened #68 "Ambiguity in trigger-selector/target-selector."
In description on tooltip
http://mozilla.github.io/brick/docs.html#tooltip
Attribute is given as 'trigger-selector' which is used to specify target element as '_previousSibling' or '_nextSibling' or CSS selectors
as described in detailed documentation of tooltip it is 'target-selector' :
http://mozilla.github.io/brick/demos/tooltip/index.html
and here:
https://github.com/mozilla/brick/tree/master/

[2013-09-27 18:24] potch commented on #68
I'll update the documentation to be accurate. Thanks for the report!

[2013-09-27 18:25] potch commented on #66
A good idea indeed!

[2013-09-27 18:26] potch commented on #65
Fair point. Will tune up.

[2013-09-27 18:29] potch commented on #64
1600 lines is a bit of a misrepresentation, given the sheer volume of documentation in tooltip. Tooltip does fairly complex logic to ensure that the content a) points to the requested target, b) remains in the viewport, and c) tracks properly when the target is moved out of the viewport. The code may be slightly over-engineered and could use a refactor, but I'm unfamiliar with a best practice that

[2013-09-27 18:31] potch commented on #64
As for the 'shadow-DOM-ish code', there are elements that the user may want to manipulate (for example the content of a tooltip) without needing to traverse the structural DOM of the tooltip itself. The properties you refer to are simply shortcuts straight to the inner DOM. Such shortcuts exist throughout the DOM and I don't consider being humane to developers something in violation of any best pr

[2013-09-27 20:43] potch commented on #17
We are about to merge a move from `make` to `grunt`! Details forthcoming.

[2013-09-27 20:45] potch commented on #56
We just updated the site. @cfjedimaster curious if you still see the issue.

[2013-09-27 20:52] cfjedimaster commented on #56
Sorry but no guys. Same bug. Cleared cache even.

On Fri, Sep 27, 2013 at 3:45 PM, Potch notifications@github.com wrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-09-27 21:08] potch commented on #56
I'm at a loss here. Can you send me the full contents of the brick.js you're seeing? Feel free to drop it in a pastebin/gist.

[2013-09-27 21:11] cfjedimaster commented on #56
Posted here:
https://gist.github.com/cfjedimaster/6735251

On Fri, Sep 27, 2013 at 4:08 PM, Potch notifications@github.com wrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-09-27 21:12] cfjedimaster commented on #56
As an FYI, it works in Canary. As I said, I did clear my cache in my main
Chrome though.

On Fri, Sep 27, 2013 at 4:11 PM, Raymond Camden raymondcamden@gmail.comwrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-09-27 21:21] potch commented on #56
ah ha! Do you have "Enable Experimental WebKit Features" turned on in about:flags? I can immediately repro when I flip that flag on. I'm not certain who's at fault there, but turning that off should fix you.

[2013-09-27 21:24] cfjedimaster commented on #56
Yep, that was it. Let's blame Google - they can handle it.

On Fri, Sep 27, 2013 at 4:21 PM, Potch notifications@github.com wrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2013-09-27 22:18] potch commented on #56
We should investigate whether we're exploding due to a bug in Chrome's impl of Custom Elements, or a bug in the polyfill.

[2013-09-27 22:19] csuwildcat commented on #56
I'm on PTO, but I can try to hunt this down early tomorrow morning.
On Sep 27, 2013 3:18 PM, "Potch" notifications@github.com wrote:

[2013-09-27 22:21] potch commented on #56
awesome.

[2013-09-28 11:33] csuwildcat commented on #56
Does anyone who is seeing this issue have experimental web features flags/configs pref'd on in their browser? If so, the WIP native browser implementations are outdated and will cause the shared Mozilla/Google polyfill to fail.

Please test this issue with no flags/configs on and let us know the results! ;)

[2013-09-28 11:42] jeluard commented on #56
Yes it does work fine with the flag disabled on Chrome Canary. That said polymer examples and my own experimentation with web components technologies work fine on Canary with the flag enabled.

[2013-09-28 11:48] csuwildcat commented on #56
Not trying to be negative to you, but that's almost impossible - we share
70% of the base code with Polymer via a collaborative polyfill both libs
use, and X-Tag touches nothing experimental in its Core code. Basically,
all the stuff that would break due to prefs being on happens in the
polyfill.
On Sep 28, 2013 4:42 AM, "Julien Eluard" notifications@github.com wrote:

[2013-09-28 11:52] csuwildcat commented on #56
@potch can you put a warning up on the site ASAP about having experimental web features pref'd on causing bustage due to outdated native WIP implementations in Chrome/Firefox? This is the 3rd time this week we've seen people trip over this issue :/

[2013-09-28 23:27] jeluard commented on #56
Sure I understand! That said bugs happen ;)

By the way here is how I see x-tags.org with the same flag enabled:

![capture decran 2013-09-28 a 20 19 28](https://f.cloud.github.com/assets/359723/1232187/6dc97650-2895-11e3-97b5-ae54fa290317.png)

[2013-09-28 23:37] csuwildcat commented on #56
Yeah, unfortunately the browser WIP implementations are months old and
break the polyfill. I'd just leave flags off at this point - we're
weeks-to-months from having full candidate implementation in browsers.
On Sep 28, 2013 4:27 PM, "Julien Eluard" notifications@github.com wrote:

[2013-09-29 00:10] arasbm opened #71 "error building brick"
Hi, I tried cloning and building brick but I get this error:

[code]

I am on Linux. Any help would be appreciated.

[2013-09-30 02:28] arasbm opened #72 "problem building brick"
I am trying to build brick, but I am getting this error:

[code]

It would be great if someone could what the cause is, and what I could do to fix it. Thanks!

[2013-09-30 17:23] csuwildcat commented on #64
As for the 1600 LOC vs number of comment lines, I had already stipulated
that in my comment. Still, I reviewed the code and believe its can be
_dramatically_ slimmed.

On the fake-shadow-wrap front, we're confusing the idea of node accessors
(common in the DOM) with forced DSLs required to step around our
wrap-hijacking of contents. Consider a <select>, am I prevented from using
appendChild() to a

[2013-09-30 17:35] potch commented on #64
Please stop referring to a few functions named something slightly different than the DOM as a DSL. Also, Domain Specific Languages aren't even a bad thing if you need something that works well in, well, a specific domain.

[2013-09-30 17:49] csuwildcat commented on #64
The problem isn't custom functions on custom elements Potch, the problem is
treating a node in markup like you can use all the normal DOM manipulation
methods to interact with it, then flipping the script by forcing people to
go through unexpected, one-off methods to perform what they expect.

Please name a single element in all of HTML where the position of your
markup does not match the leveling

[2013-09-30 18:00] pennyfx commented on #64
We don't have shadowDOM yet so we are forced to use DOM visible wrappers at times to get desired functionality.   Providing a few access points to specific locations within the element is a helpful work around for the time being.   Once we have shadowDOM then these helpers can be deprecated.

[2013-09-30 18:14] csuwildcat commented on #64
A few things are wrong with that:
- If we create a get-to-the-real-content wrapper mechanism, the system and
  the accessors should be normalized from tag to tag. That's API 101 - don't
  make 10 separate systems that do the same things and give them all
  different accessor/method names.
- Arron, your statement that we'll simply uplift the API to use Shadow DOM
  when ready is technically perilou

[2013-09-30 19:46] potch commented on #64
I'm all-for making shortcut accessors consistenly named. Just remember that `document.body` > `document.documentElement.childNodes[1]` :)

[2013-09-30 20:51] csuwildcat commented on #64
@potch cool, let's set aside some time this week to discuss a strategy/mechanism for offering a consistent API for wrap situations that will provide a path for seamless integration of _real_ Shadow DOM functionality. If we can get this in place and use it across our custom elements, we can be far more confident in our ability to utilize Shadow DOM under the covers in the future, without fracturing

[2013-09-30 21:07] pennyfx commented on #64
As potch said we are creating shortcut accessors to give users access to the internals of the element.  While giving them consistent names has merit, it can also create ambiguity of what 'content' means for each control.

For example,  `x-appbar` has `heading` and `subheading` accessors which are obvious and self-documenting.  I'm not convinced that changing these to `content` and `subcontent` for

[2013-09-30 21:15] csuwildcat commented on #64
Arron, your example would not be a case of the issue at hand. We should
meet this week to clarify everything.
On Sep 30, 2013 2:07 PM, "Arron Schaar" notifications@github.com wrote:

[2013-10-01 03:55] potch commented on #72
Closing this as a dupe of #72.

[2013-10-01 03:55] #72 closed, assigned to nobody

[2013-10-01 03:57] potch commented on #71
We're about to switch to an all-node build system (via grunt). When that lands, could you to re-attempt the build?

[2013-10-01 04:17] arasbm commented on #71
@potch sure I will, is there an estimate how long that will take?

[2013-10-01 04:47] potch commented on #71
@arasbm next 24 hours I hope!

[2013-10-01 18:43] potch commented on #63
Can someone encountering this re-test? We've spun 1.0beta8 to address this.

[2013-10-01 18:50] nickdesaulniers commented on #63
@potch , ok I'll give it a spin after lunch.

[2013-10-01 20:41] nickdesaulniers commented on #63
¡Ay, caramba! It's La Bamba!

[2013-10-01 20:41] #63 closed, assigned to nobody

[2013-10-01 22:02] fwenzel opened #73 "Add Brick to JSFiddle and integrate JSFiddle with Brick's site"
JSFiddle would be a great way for people to learn how to use Brick and try it out. I see two parts of this:
- adding it to JSfiddle itself, which I assume is easy, though I do wonder how we can push updates out when there's a new release of the library? @zalun ?
- adding it to the Brick site somehow, so that people can click a button and try things out immediately. I am not sure if there's an API

[2013-10-01 22:31] nickdesaulniers opened #74 "Adding additional tabbar-tabs causes them to flow off the screen"
[example](https://github.com/nickdesaulniers/fxos-irc/issues/2)

[2013-10-02 06:06] zalun commented on #73
The best option for updates is to create some sort of edge (nightly) version which will get updated frequently. Some old fiddles might not work if changes will be backward incompatible. There is also an option to create a stable version plus the egde one.

These should be placed on some sort of CDN (github pages are fine, but not the repository's RAW view)

JSFiddle is able to read prepared github

[2013-10-02 09:52] sole commented on #63
@nickdesaulniers I hate you. I can't stop humming La Bamba since I read your comment. GRRRRRRR!!!

[2013-10-02 18:49] nickdesaulniers opened #75 "CSP violations"
![screen shot 2013-10-02 at 11 49 05 am](https://f.cloud.github.com/assets/1823839/1256297/621c1780-2b93-11e3-83f3-ae8d96288735.png)

This is a problem for privileged (packaged) apps.

[2013-10-02 19:48] fwenzel commented on #75
eval?

[2013-10-02 20:00] pennyfx commented on #75
@fwenzel     There is an eval line in the polyfill.

https://github.com/x-tag/core/blob/master/lib/web-components-polyfills.js#L1912

[2013-10-02 20:05] fwenzel commented on #75
Might need to analyze an unminified version to see where these warnings are coming from and to see if this harms the use of brick in packaged apps!

[2013-10-02 21:58] nickdesaulniers opened #76 "Who posseses the copyright for this repo?"
I one was to reuse this, we need to cite the copyright holder.  This is not listed in the license.

[CC](https://github.com/nickdesaulniers/fxos-irc/issues/17)

[2013-10-02 22:03] potch commented on #76
Brick is presently MPL2, and coprighted to the Mozilla Corporation. I'd like to investigate whether Apache 2 is a better fit for the project, and whether we should use an AUTHORS file to better represent contributions. I've updated the LICENSE file to reflect the current state of affairs.

[2013-10-02 22:03] #76 closed, assigned to nobody

[2013-10-02 22:12] potch commented on #76
WHO RUN BRICKTOWN

[2013-10-02 23:10] nickdesaulniers commented on #75
This is blocking [the IRC app](https://github.com/nickdesaulniers/fxos-irc/issues/24), any way we could get this fixed pre-summit? cc @potch

[2013-10-02 23:21] nickdesaulniers commented on #75
I beautified the source.  The top and bottom look like noise, the second is the obvious culprit:
![screen shot 2013-10-02 at 4 20 12 pm](https://f.cloud.github.com/assets/1823839/1258254/50f90ec4-2bb9-11e3-85bb-f263d881686b.png)

[Full Validation Report](https://marketplace.firefox.com/developers/upload/8957f74bd962424b89b721a04190b4f0).

See @pennyfx 's comment.

[2013-10-02 23:44] csuwildcat commented on #75
@pennyfx can we stop including HTMLImports in our polyfill?

[2013-10-02 23:47] pennyfx commented on #75
@csuwldcat  Technically yes, we just have to remove the HTML imports lines from the build.  https://github.com/x-tag/core/blob/master/Gruntfile.js#L13

What about the other CSP issues though?

[2013-10-02 23:52] csuwildcat commented on #75
@pennyfx I don't believe those other violations are actually correct - there is nothing there that evaluates code dynamically as banned by CSP: https://developer.mozilla.org/en-US/Apps/CSP

[2013-10-03 00:00] potch commented on #75
@pennyfx The other warnings are just that- warnings. They just flag possible locations where someone could pass the string "script" to createElement(). They don't disqualify anyone from a review, but let reviewers and devs know they should look to make sure.

[2013-10-03 00:08] pennyfx commented on #75
@potch I'm creating another tag that does not have htmlimports.     [0.8.3-noimports](https://github.com/x-tag/core/tree/0.8.3-noimports)   They can use this build for summit.

[2013-10-03 14:55] ghost opened #77 "Appbar should be fixed to the top of the screen."
The Appbar currently scrolls with the whole view. Maybe add a way to specify whether it should be fixed or if it should scroll?

[2013-10-03 15:00] ghost opened #78 "Both sides of a Flipbox are the same height."
If one side of the Flipbox has a lot of content, and you flip to the other side with less content, the user has to scroll up. In extreme cases, they have to some intensive scrolling.

This may also affect the other view types (Decks, Slideboxes, etc.), but I haven't verified this.

[2013-10-03 16:30] fwenzel commented on #76
Truth

[2013-10-03 16:32] fwenzel commented on #78
Are you saying that they are the same height but shouldn't be? I think the point of the flipbox is to be two sides of the same "card", which is then obviously the same size. If you have vastly differing content sizes, you might need to force a shorter max-height and handle overflow?

[2013-10-03 16:33] fwenzel commented on #75
Nice, good work @pennyfx . Do you manually remove the offending code, or is that step reproducible?

[2013-10-03 16:59] pennyfx commented on #75
Removed a few lines from the gruntfile and rebuilt.

On Oct 3, 2013 9:33 AM, "Fred Wenzel" notifications@github.com wrote:

[2013-10-03 17:01] ghost commented on #78
I figured that this was the designed behavior. I'm using a Flipbox to hold two very differently sized pages, and flipping between the two is very awkward.

Do the Deck and Slidebox views act the same way? Is there a better view to be using for variable sized pages? Maybe an x-layout embedded on one side of the Flipbox?

[2013-10-03 20:27] nickdesaulniers commented on #75
Do x-tags add any script elements to the DOM?

[2013-10-03 20:31] csuwildcat commented on #75
X-Tag itself does not, I believe any and all CSP issues would be raised out
of the polyfill we share with Google.

On Thu, Oct 3, 2013 at 1:27 PM, Nick Desaulniers
notifications@github.comwrote:

[2013-10-03 22:44] ghost opened #79 "x-layout not working?"
Trying to use an x-layout to create a header bar, a section of content, and a footer bar (like in the example); however, I can't get it to work properly. The entire page scrolls, including the header/footer bars. This works on the demo page, but for some reason I cannot recreate it on my own. Tried with both the BYOB and the full release.

Example:

[code]

[2013-10-04 17:03] HiggsOfChaos commented on #79
Same issue. Mine displays differently in Firefox and Chrome. Chrome does not even show the content between the header and footer at all

[2013-10-04 20:06] ghost commented on #79
@xkape glad I'm not the only one. Was worried that it might just be user error.

[2013-10-05 00:37] sole commented on #79
Hi guys

You might need to do a

[code]

too.

[2013-10-05 13:35] HiggsOfChaos commented on #79
Still not working.

[2013-10-05 14:18] HiggsOfChaos commented on #79
x-layout is probably the most useful component of Bricks. Sad to see its not working for me.

[2013-10-05 17:42] ghost commented on #79
@sole I can verify that this does not work:

[code]

[2013-10-05 21:50] sole commented on #79
So I did two changes in your code, and it works for me.
- I added an `x-appbar` that contains the `header` element
- I added some background colour to the content so you can see that it fits all the remaining space in the window

Have a look here: http://people.mozilla.org/~spenades/brick/layout/

[2013-10-06 02:27] arasbm commented on #71
I just wanted to add a note here that I tried the new instructions from readme to build Brick using grunt. Now I get the following error:

[code]

I know that most/all of the dev team has probably gone to mozsummit -- hope you are having a great time! When you get back and have a chance to look at this, I would love to get passed building stage :).
Cheers!

[2013-10-06 06:58] potch commented on #71
I ran into something like this too setting up Travis. I think there's a grunt or bower problem with node 0.11. check to ensure you're not using that version of node (`node -v`)

[2013-10-06 08:05] arasbm commented on #71
Yes that was exactly the issue. I updated node to the latest, now I can force my way through the build. I think that solves my issue because now `dist/brick.css` and `brick.js` will generate. \o/

Do you have any recommendations for getting rid of the warnings?

[code]

[2013-10-06 14:12] ezzemm opened #80 "Compatibility to Prototype.js"
![1](https://f.cloud.github.com/assets/5622794/1276755/4980da70-2e91-11e3-91bb-2f153275b558.JPG)
![2](https://f.cloud.github.com/assets/5622794/1276756/49a29386-2e91-11e3-8861-51e98c6be13c.JPG)

Hi!

I want to use Brick on websites which uses Prototype.js. But unfortunatley it seems, they are incompatible.

Prototype.js throws a error: "TypeError: this.each is not a function", and the Tooltipps fr

[2013-10-06 18:36] ghost commented on #79
@sole that does work, but shouldn't it work without using an Appbar? I just can't figure out why it doesn't work in my example, but it works here: http://mozilla.github.io/brick/demos/layout/index.html

Also, why isn't the Appbar within a header element in your example? As per the docs, shouldn't it be:

[code]

[2013-10-06 18:43] sole commented on #79
I added an appbar because... that element triggers the proper css for you to get the layout you're looking for.

And you shouldn't put a header inside a header--what's the point? Think of the semantics. The x-appbar gives layout and contains the header. If the docs say otherwise they should be corrected, but I don't see that here: http://mozilla.github.io/brick/demos/appbar/index.html

Could you t

[2013-10-06 18:45] sole commented on #79
Anyway here's an example without x-appbar and it works all the same:
http://people.mozilla.org/~spenades/brick/layout/index2.html

:-)

[2013-10-07 06:24] arasbm commented on #71
My bad. actually that stops the build process for the js files. So only CSS files were created. So I still need to figure out a way to pass those two uglification errors to build Brick.

[2013-10-08 17:23] pennyfx commented on #80
Can you post your code?

[2013-10-08 23:13] faizanqadri opened #81 "x-sidebar navigation not working (jquery)"
Kindly take a look at this issue I posted earlier and see if you can help.

http://stackoverflow.com/questions/19258668/x-slidebox-not-working

[2013-10-09 20:16] potch commented on #81
This issue is resolved on Stack Overflow (http://stackoverflow.com/a/19260223), so closing it up here.

[2013-10-09 20:16] #81 closed, assigned to nobody

[2013-10-09 21:08] potch opened #82 "Add build option to bundle in alternate skin"

[2013-10-09 21:08] potch commented on #46
Closing this in favor of https://github.com/mozilla/brick/issues/82

[2013-10-09 21:08] #46 closed, assigned to potch

[2013-10-10 04:20] arasbm commented on #71
Sorry, the second issue was also due to my node version as you had suspected. I didn’t realize that was a regression issue with node. I switched back to v0.10.5 and now everything is built. Thanks for your help!

[2013-10-10 04:20] #71 closed, assigned to nobody

[2013-10-11 15:58] ezzemm commented on #80
Hi!

I am creating a Plugin, which can anybody install on his CMS, and let appear some stuff. Therefor, my code is quite short:

[code]

Thats all code belonging to Brick. I've tested my plugin with various CMS, and in all of those who are using Prototype, none of the Tooltipps work. But my jQuery stuff works.

For example, I've tested e107 in version 1.01. By default, e107 uses Prototype 1.7.0.0

[2013-10-11 18:17] potch commented on #79
@dtk An important thing to note about x-layout as it currently works: x-layout does not provide a fixed header and footer. It uses flexbox to ensure the <section> inside of it takes up all remaining room not used by the <header> and <footer>. This means that if you have enough content inside the <section> that the page scrolls, the whole <x-layout> will scroll (as you've observed). To fix your iss

[2013-10-11 18:20] potch commented on #79
Actually, I just checked out the demo @sole posted, and x-layout _is_ using `overflow: auto` as I described.

@dtk, what version of Chrome are you using? Do you have the "experimental web platform features" flag turned on?

[2013-10-11 21:29] potch commented on #78
@dtk it probably makes sense for the inner 'side' element of the flipbox to be limited to the size of the flipbox itself and implement scrolling. This is a good example where our default behavior could use some work. I'm going to leave this issue open to track that fix. Thanks!

[2013-10-12 00:45] arasbm opened #83 "Is brick compatible with requirejs/alameda?"
Hi,
I am trying to use brick in an app that uses alameda. I create a minimal app to test compatibility with the AMD library: https://github.com/arasbm/privileged-fxos-cub

I have a couple of components in the index page for testing. When I include brick.js direcrltly in the html page they work. I then tried to include brick with alameda like this:

[code]

then inside app.js I include brick like t

[2013-10-12 01:12] ghost commented on #83
Try this:

[code]

On 13-10-11 05:45 PM, Aras Balali Moghaddam wrote:

[2013-10-12 03:28] arasbm commented on #83
thanks for the quick reply bardu. I gave that a shot, but it made no difference. Any other ideas please let me know!

[2013-10-12 04:08] ghost commented on #83
Did you require('brick'); ?

Aras Balali Moghaddam notifications@github.com wrote:

[2013-10-12 20:09] jeluard opened #84 "Broken Travis configuration file"
There's some bad merge leftover in the Travis conf file preventing tests to be [run](https://travis-ci.org/mozilla/brick).

[2013-10-14 18:09] arasbm commented on #83
I tried that as well, but still could not get it to work. You can checkout
the minimal repo I linked to above to test it yourself using the simulator.
If anyone has a working project with brick and requirejs/alameda I would
love to see it. As I mentioned, when I go to the debug tab when running the
app in the simulator, I can see that brick.js has been loaded -- but it
does not seem to load proper

[2013-10-14 18:19] potch commented on #83
@arasbm I'll look at this today and let you know if I figure out a way to get this working.

[2013-10-14 18:20] potch commented on #84
harumph. thanks for reporting!

[2013-10-14 18:48] potch commented on #84
Builds are passing again.

[2013-10-14 18:48] #84 closed, assigned to nobody

[2013-10-14 19:59] jaydson opened #85 "[Website] Brick in Action is not working"
The toggle flip example http://mozilla.github.io/brick/index.html is not working properly.

[2013-10-14 20:28] pennyfx commented on #85
I just confirmed that flipbox on the demo page works.
On Oct 14, 2013 12:59 PM, "Jaydson Gomes" notifications@github.com wrote:

[2013-10-14 20:41] nadrimajstor commented on #85
Failed to load resource: the server responded with a status of 404 (Not Found) http://mozilla.github.io/brick/component/flipbox/demo/demo.css
Failed to load resource: the server responded with a status of 404 (Not Found) http://mozilla.github.io/brick/component/flipbox/demo/demo.js

Shouldn't path be: `/brick/demos/flipbox/demo.js` instead of `/brick/component/flipbox/demo/demo.js` ?

[2013-10-15 05:14] arasbm commented on #83
@potch thanks for looking into this.
FWIW, I took a peek at the code looking for instances of `DOMContentLoaded` [wrongly] thinking the issue might be that some initializing code may be mapped to the event and does not run if the library is loaded asynchronously. However, when I looked at the code, in every instance, it seems that alternate path is defined like this:

[code]

So as far as I can te

[2013-10-15 21:21] potch opened #87 "New default skin appearance for components"
We need a sexy default appearance!
- [x] appbar
- [x] calendar
- [x] deck
- [x] flipbox
- [x] layout
- [x] slidebox
- [x] slider
- [x] tabbar
- [x] toggle
- [x] tooltip

[2013-10-15 23:30] nickdesaulniers opened #88 "404s for all build your own bundle components"
STR:
Try to build your own bundle and watch HTTP response codes.
http://mozilla.github.io/brick/download.html

[2013-10-15 23:31] nickdesaulniers opened #89 "Don't build zip if any assets return 404 error codes"
see #88

[2013-10-17 08:30] paipai opened #90 "Accessible example"
Your examples should be accessible. And be screen reader ready.
Replace these div with click events by anchor tags. It would be a good reason to use brick.

This should be done a start of the project. This should be a prerequisite for any example.

[2013-10-17 08:33] potch commented on #90
We're planning a full accessibility review before we release 1.0, including the fixes you mentioned. I agree that accessibility should be a first concern, but many of these components began as prototypes.

[2013-10-17 08:33] #90 closed, assigned to nobody

[2013-10-17 08:36] potch opened #91 "Review each component for accessibility"
This includes WAI-ARIA roles, proper semantics where necessary, tab indexes, and any other recommendations from the a11y team.
- [ ] appbar
- [ ] calendar
- [ ] deck
- [ ] flipbox
- [ ] layout
- [ ] slidebox
- [ ] slider
- [ ] tabbar
- [ ] toggle
- [ ] tooltip

[2013-10-17 08:39] potch commented on #90
I agree that accessibility should be a core tenet of software projects. We're definitely not there yet. There will be a full accessibility review of every component prior to a 1.0 launch. I've filed #91 to track that work. I'll close this up in favor of that tracking issue. Thanks for taking the time to file!

[2013-10-17 08:52] paipai commented on #90
Thank you for the reply and for the great work.

[2013-10-17 13:41] graam opened #92 "CSS Improvement"
In brick.css file:
html,body{min-height:100%}
defined in two places.

[2013-10-17 14:20] #92 closed, assigned to nobody

[2013-10-17 17:46] aarondruck commented on #87
Appbar
![appbar 2x](https://f.cloud.github.com/assets/2692810/1354408/1256d312-3754-11e3-9da0-821976cbb73f.png)
![appbar](https://f.cloud.github.com/assets/2692810/1354409/12891f48-3754-11e3-8cc3-cd9851d31556.png)

[2013-10-17 17:46] aarondruck commented on #87
Body
![body](https://f.cloud.github.com/assets/2692810/1354411/197382da-3754-11e3-98e0-ec3da9d927d1.png)
![body 2x](https://f.cloud.github.com/assets/2692810/1354412/198b307e-3754-11e3-97a1-416e317e9b42.png)

[2013-10-17 17:47] aarondruck commented on #87
Buttons
![buttons 2x](https://f.cloud.github.com/assets/2692810/1354415/21f7c506-3754-11e3-89e1-d268bb1e3bc3.png)
![buttons](https://f.cloud.github.com/assets/2692810/1354416/2211a980-3754-11e3-8a4e-aab1ab7b92bc.png)

[2013-10-17 17:47] aarondruck commented on #87
Buttons 2
![buttons2](https://f.cloud.github.com/assets/2692810/1354418/278931e4-3754-11e3-81c5-31a2ce67b4a7.png)
![buttons2 2x](https://f.cloud.github.com/assets/2692810/1354419/2789b5c4-3754-11e3-8e96-18f49d59e29b.png)

[2013-10-17 17:47] aarondruck commented on #87
Calendar
![calendar](https://f.cloud.github.com/assets/2692810/1354420/2d195ce2-3754-11e3-91fe-3641fba9fe4d.png)
![calendar 2x](https://f.cloud.github.com/assets/2692810/1354421/2d19dde8-3754-11e3-89b5-6e052a58d126.png)

[2013-10-17 17:47] sole commented on #87
wow this is on fire!!! :fire:

[2013-10-17 17:47] aarondruck commented on #87
Date Picker
![datepicker 2x](https://f.cloud.github.com/assets/2692810/1354422/32ef0a36-3754-11e3-9d8e-00499c0431e6.png)
![datepicker](https://f.cloud.github.com/assets/2692810/1354423/32ef4da2-3754-11e3-98d2-59b1c574775a.png)

[2013-10-17 17:47] aarondruck commented on #87
Modal
![modal 2x](https://f.cloud.github.com/assets/2692810/1354427/3862c782-3754-11e3-8109-9f83642cb3b7.png)
![modal](https://f.cloud.github.com/assets/2692810/1354428/38657932-3754-11e3-99d2-7f65d1d20f35.png)

[2013-10-17 17:47] aarondruck commented on #87
Tabbar
![tabbar 2x](https://f.cloud.github.com/assets/2692810/1354429/3db46d8a-3754-11e3-8c53-7e679653c1dc.png)
![tabbar](https://f.cloud.github.com/assets/2692810/1354430/3db4e346-3754-11e3-9fa1-65e613a2f7e3.png)

[2013-10-17 17:48] aarondruck commented on #87
Widgets
![widgets 2x](https://f.cloud.github.com/assets/2692810/1354431/4421bab0-3754-11e3-8ca4-f47fdb2bd4b2.png)
![widgets](https://f.cloud.github.com/assets/2692810/1354432/4421d310-3754-11e3-9b22-80104090c762.png)

[2013-10-17 17:52] pennyfx opened #93 "Slider looks and behaves strangely in IE11"
<img src="https://dl.dropboxusercontent.com/u/13744969/slider_ie11.png">

[2013-10-17 18:18] aarondruck commented on #87
Adding details here: https://github.com/mozilla/brick/wiki/Brick-Style-Guide

[2013-10-17 18:32] fwenzel commented on #75
@pennyfx did you fix (or, stop-gap) this? If so, please close the issue, thanks!

[2013-10-17 18:34] nickdesaulniers commented on #75
I think it unblocked me, but broke Safari.

[2013-10-17 19:20] ghost commented on #60
Hello. Any news on this?

[2013-10-17 21:26] nickdesaulniers commented on #88
Temp solution is to not build your own bundle, just download it in its entirety.

[2013-10-17 22:19] potch commented on #60
@fairwinds the intent is to move the the Apache 2 License. You can expect that migration in an upcoming release.

[2013-10-17 22:23] ghost commented on #60
This is great news, is there an ETA? I'd really like to be digging into this soon. I like the project and the possibilities for the web.

[2013-10-17 22:25] potch commented on #60
I'd expect in the next few weeks. We will be spinning at least one new
build in that timeframe.

On Thu, Oct 17, 2013 at 3:23 PM, David Pratt notifications@github.comwrote:

[2013-10-18 03:50] potch commented on #88
Fixed by #94.

[2013-10-18 03:51] #88 closed, assigned to nobody

[2013-10-18 03:52] potch commented on #85
@jaydson are you still encountering this?

[2013-10-18 03:54] potch commented on #82
Still open pending some documentation and possible components.json adjustment. Will add it to the wiki to start.

[2013-10-18 04:01] potch commented on #75
@nickdesaulniers what sort of Safari breakage are you seeing?

[2013-10-18 04:14] potch commented on #56
I'm closing this up.

[2013-10-18 04:14] #56 closed, assigned to nobody

[2013-10-18 04:14] potch commented on #17
hah, this is so done.

[2013-10-18 04:14] #17 closed, assigned to nobody

[2013-10-18 04:14] potch commented on #18
This is finished!

[2013-10-18 04:14] #18 closed, assigned to nobody

[2013-10-18 08:51] sole commented on #60
@potch, it would be great to hear about why Apache 2 vs MPL2. Just so we get a bit more literate licensing-wise :D

ta!

[2013-10-18 13:21] jaydson commented on #85
Nope, now it's working pretty well.

[2013-10-18 15:34] nickdesaulniers commented on #75
Cards weren't rendering, IIRC.

[2013-10-18 16:46] nickdesaulniers commented on #75
This is still an issue for privileged packaged apps.

[2013-10-18 18:45] fwenzel commented on #60
"New projects which are Mozilla Code may choose either the MPL 2.0 or the Apache License 2.0. No other license is acceptable, because Mozilla is committed to using modern open source licenses with patent grant clauses."

http://www.mozilla.org/MPL/license-policy.html

MPL2 is copyleft while Apache is not, and to enable the most widespread use of Brick, requiring contributions back to the project m

[2013-10-18 19:20] pennyfx commented on #93
Apparently IE always displays those lines with the blue background.   I added a width css property and fixed the issue in the second screen shot.

[2013-10-18 19:20] #93 closed, assigned to nobody

[2013-10-18 19:59] potch commented on #60
@fwenzel said it better than I could!

[2013-10-20 16:39] lisp-ceo commented on #66
Buuuump! :)

[2013-10-24 18:37] nickdesaulniers opened #95 "Tab bars are not rendered correctly in 1.2"
Note, I am adding them dynamically after the first one which is static.
![2013-10-24-14-35-02](https://f.cloud.github.com/assets/1823839/1401727/42dfcb2e-3cdb-11e3-928a-c87e016ae326.png)

[2013-10-29 10:02] bourduard opened #96 "x-calendar do not work properly"
While go through months it jumps from january to march (skip february)

[2013-10-29 15:45] pennyfx commented on #96
I had this issue on a calendar control I created a while back.  I'll take a look.

[2013-10-29 16:28] rudasn commented on #64
...So what's the status on this?

[2013-10-30 16:59] csuwildcat opened #97 "Land gestures on the X-Tag side and make them available as an optional Brick include"
Gestures need to land in X-Tag and be offered as an optional include for Brick packages.

[2013-10-30 16:59] sole commented on #97
Might I ask... why optional? can't they be enabled by default? Example, in the `x-deck`, to switch left/right?

[2013-10-30 17:01] csuwildcat opened #98 "Include the option to download (or include by default) uncompressed Brick bundles"

[2013-10-30 17:06] pennyfx commented on #97
I think he means they will only be packaged together if a component
requires gestures for certain actions.  Gestures are not part of xtag core.
On Oct 30, 2013 10:00 AM, "sole" notifications@github.com wrote:

[2013-10-31 14:08] LukeStonehm opened #99 "datepicker is broken today"
Ok, so I know it's Halloween, but we don't need this. It's broken for us on multiple sites, using separate copies of brick

![broken_datapicker](https://f.cloud.github.com/assets/5001686/1446333/d51c9f6c-4235-11e3-95a3-dbf957aa32d5.png)

As you can see, the calander only has one row of dates...

[2013-10-31 16:06] nahojd commented on #99
I second that, it worked yesterday, and it will work tomorrow (confirmed by changing the computer date). It just doesn't work today. Makes you wonder what other dates will make it go bananas...

It also skips directly from October to December, then to January, and then to March, and so on. And it's often - but not always - impossible to go back. So, pretty weird behaviour.

[2013-10-31 16:17] nahojd opened #100 "Sometimes skips a month"
Sometimes when you click next month (i.e. arrow forward), it skips a month and moves forward two months.

Example: Select January 31, 2014. Move to next month. It should move to February, but it moves to March.

[2013-10-31 16:34] pennyfx commented on #96
We are working on a fix.  Not sure if it will be finished today (10/31/2013).  It happens because the number of days in this month are greater than a month you iterate to in the calendar.   This issue will go away tomorrow (11/1/2013), but will raise it's nasty head every time todays date is greater than another month in the calendar.      Fix is coming soon.

https://github.com/mozilla/brick/issu

[2013-10-31 17:49] LukeStonehm commented on #99
Cool, good to know that I'm not going insane :)

[2013-10-31 21:25] potch commented on #96
Apologies about the brokenness! I'm rolling out a new version with a fix today.

[2013-10-31 21:45] fwenzel commented on #99
Apologies, fix is in the works, in issue #96.

[2013-10-31 21:45] #99 closed, assigned to nobody

[2013-10-31 21:45] fwenzel commented on #100
Apologies, fix is in the works, in issue #96.

[2013-10-31 21:45] #100 closed, assigned to nobody

[2013-10-31 21:46] fwenzel commented on #85
We're glad. Thanks for filing!

[2013-10-31 21:46] #85 closed, assigned to nobody

[2013-11-02 15:50] Elioty opened #101 "calendar styling (weekend day)"
Hi

Could you add a specific class to the span.day to specify that they are a weekend day so we could easily apply a different style to them.
Or should we use the custom rendering method?

Elioty.

[2013-11-02 17:29] fwenzel commented on #101
"weekend day" might be a definition up to debate, but a class consistent with the day of the week might make sense. This way if someone wants to style all wednesdays, that too would be possible.

[2013-11-02 21:55] Elioty commented on #101
Well, by "weekend day", I meant Saturday and Sunday. But I thought about it too : why not a class for every week day, .day-monday .day-tuesday and so on. That would bring more easy styling possibilities without going through the custom rendering method.

[2013-11-02 22:18] nadrimajstor commented on #101
Please consider that weekend are not the same day/days everywhere.
http://en.wikipedia.org/wiki/Workweek_and_weekend

[2013-11-06 21:22] aegaas opened #102 "Customizable Date formats"
I'd be nice if the datepicker widget supported custom date formats other than YYY-MM-DD through a format attribute.

I recommend deferring date parsing and formatting to http://momentjs.com/

[2013-11-08 06:08] arasbm commented on #83
any update on this issue?

[2013-11-08 20:14] nickdesaulniers opened #103 "Add aria-label tags for accessibility"
see [this](http://blog.monotonous.org/2013/10/30/firefox-os-app-accessibility-workshop-part-2-analog-clock/) for more info

[2013-11-10 09:37] stevesouth commented on #36
+1 for a menu component, this seems to be the biggest missing feature at the moment.

The link above is nice especially the UX for the sub menu which can be tricky. However it is quite laggy on mobile so it will need to be optimised with the hardware accelerated 'translate' property (sure you guys know that, I haven't had a chance to look a the brick code yet).

For the menu itself some apps have

[2013-11-11 19:39] pennyfx commented on #96
Here's the fix.  https://github.com/x-tag/calendar/commit/1e87e1276af98970f7e9183bc9508f5323280428
@potch has the website been updated?

[2013-11-11 22:44] pennyfx commented on #96
Brick is updated with latest changes.

[2013-11-11 22:44] #96 closed, assigned to nobody

[2013-11-11 23:48] potch commented on #75
@nickdesaulniers any chance this is working for you?

[2013-11-11 23:59] nickdesaulniers commented on #75
@potch , just built from source, it looks good!  let me know when it's live in production.

[2013-11-12 19:41] potch commented on #102
We've been discussing using moment for the calendar component, and the concerns are a) file size and b) having a component with a side effect of having a whole library appear when you use it.

[2013-11-12 19:42] potch commented on #101
@Elioty your suggestion makes a ton of sense! I'd use the custom renderer for now, but expect to see day-specific classnames soon.

[2013-11-12 19:44] potch commented on #83
Sorry about the delay on this, been working on the skinning. Will play with the minimal repo today and see if I can't chase down why brick is not loading.

[2013-11-13 12:39] LukeStonehm opened #104 "x-tooltip slowing page to a crawl"
Ok, so I have been trying to diagnose this problem for a while.

What I am experiencing is a slow down of any page running a x-tooltip with the Hover option set. Hovering over elements causes 20% cpu spikes on a 2nd Gen i5 with 4gbs of ram. Using FF26. On my home PC I'm running FF24 and it also causes spikes. I don't see these issues on Chrome.

I profiled my page, and it led me to believe that x-

[2013-11-13 16:38] csuwildcat opened #105 "Remove/change animation from x-toggle default display"
The current animation for x-toggle is lame-stat, and not something that can be GPU'd, let's fix it.

[2013-11-13 18:12] fwenzel commented on #104
Thank you this is great feedback. @pennyfx is this something you can take a look at?

[2013-11-13 18:13] fwenzel commented on #105
Why is that? I'm interested in learning which animations can and can't be handled by the GPU and why.

[2013-11-13 18:18] csuwildcat commented on #105
@fwenzel this will get you started - we should be doing a perf sweep on all components before v1.0: http://www.html5rocks.com/en/tutorials/speed/high-performance-animations/

[2013-11-13 22:27] potch commented on #104
@LukeStonehm I'd love to see the profile data! There's a good chance we could be causing issues here.

[2013-11-14 00:40] pennyfx commented on #80
Did you figure out the issue?  If not can you console out `this` in that function?

[2013-11-14 00:41] potch commented on #79
I totally asked the wrong person. @ghost, what version of Chrome are you using? Do you have the "experimental web platform features" flag turned on?

[2013-11-14 00:44] potch commented on #77
This would be pretty simple to with CSS on the user side.

[2013-11-14 00:44] #77 closed, assigned to nobody

[2013-11-14 00:44] potch commented on #75
0.9.0 is out and working!

[2013-11-14 00:44] #75 closed, assigned to nobody

[2013-11-14 00:59] potch commented on #73
@zalun If GitHub pages are fine, then the canonical URLs are:

JS: http://mozilla.github.io/brick/dist/brick.js
CSS: http://mozilla.github.io/brick/dist/brick.css

[2013-11-14 00:59] potch commented on #68
A resolution to this is coming!

[2013-11-14 01:08] potch commented on #64
Still bikeshedding :) Working on some conventions that will be consistent between elements.

[2013-11-14 01:14] pennyfx commented on #55
Fixed

[2013-11-14 01:14] #55 closed, assigned to nobody

[2013-11-14 01:15] potch commented on #60
Apologies on the slowness to fix this. The license has been set to Apache 2 in both the package.json and LICENSE file.

[2013-11-14 01:15] #60 closed, assigned to nobody

[2013-11-14 01:17] potch commented on #54
The `<x-datepicker>` contains an `<input>` element that can be styled to match your surrounding styles. Hope that helps!

[2013-11-14 01:17] #54 closed, assigned to nobody

[2013-11-14 06:26] LukeStonehm commented on #104
No problem, here is the dropbox link:

https://www.dropbox.com/s/nfka2d1gh76la86/x-tooltip.json

This data was contains the profile of me simply mousing over elements (divs, spans, tables) with a few x-tooltips (onHover) enabled.

As a side note: I'm actually using FF27 (Aurora) and FF25 on my windows PC at home. It's so hard to keep up with these version numbers. I tested last night with just the

[2013-11-14 19:24] nickdesaulniers commented on #75
This needs to be reopened.  A bundle built from the components still has this in 0.9

[2013-11-14 19:37] csuwildcat commented on #75
@nickdesaulniers which CSP violation persists? All of them?

[2013-11-14 19:38] nickdesaulniers commented on #75
[code]

[2013-11-14 19:47] csuwildcat commented on #75
@nickdesaulniers looks like `bower update` output was cached, Potch is flushing that cache and respinning. You should be on track shortly, look from an update from them here.

[2013-11-14 20:15] pennyfx commented on #98
`grunt build` now output unminified files.   All minified files will have the suffix `.min.[css|js]`

https://github.com/mozilla/brick/commit/7aa69f22bdac6ef0cf076561060af0ece59b9130

[2013-11-14 20:15] #98 closed, assigned to nobody

[2013-11-14 20:15] nickdesaulniers commented on #75
brick 0.9.1 fixed this, thanks for the quick response @csuwildcat & @potch .

[2013-11-14 20:17] pennyfx commented on #66
Our build system outputs unminified files now.  Just need to add an option to the custom bundle builder to use those files.    https://github.com/mozilla/brick/issues/98

[2013-11-15 16:57] fwenzel commented on #103
@potch is this a dupe?

[2013-11-15 19:41] potch commented on #103
If this is a general request for ARIA-label on all components, then it's a dupe. @nickdesaulniers, feel free to re-open if this isn't covered by #91.

[2013-11-15 19:41] #103 closed, assigned to nobody

[2013-11-18 10:13] zalun commented on #73
Yest it's good - currently fixing the Dependencies table to allow CSS inly links

[2013-11-19 09:13] LukeStonehm commented on #104
Is anyone taking a look at this? @potch

Right now, IE in a VM renders and runs my page faster than FF.. Which is pretty sad..

[2013-11-19 18:53] potch commented on #104
@LukeStonehm thanks for the profile data! Definitely seems to be an issue with our hover code. Looking into it.

[2013-11-19 20:27] pennyfx commented on #59
Fixed.   https://github.com/x-tag/appbar/commit/3119b9bff674ca0fe0c734930f807ae27146b193

[2013-11-19 20:27] #59 closed, assigned to nobody

[2013-11-19 22:55] potch commented on #104
@LukeStonehm can I ask you one more favor? Can you replace your brick.js with the unminified version (https://raw.github.com/mozilla/brick/master/dist/brick.js) and re-run that profile?

[2013-11-20 06:46] LukeStonehm commented on #104
Ok, I have done this.

https://www.dropbox.com/s/weoe361xaf1oosl/x-tooltip-v2.json

I just wanted to note that I have been using x-datepicker and x-calander, but I see x-datepicker has been removed from the BYOB.. Is there a blog post or something about that?

[2013-11-20 07:06] potch commented on #104
x-datepicker is out of the bundle temporarily while we re-vamp it. If you're actively using it, I'd be happy to put the minified/compiled code for it in the repository (source lives here: https://github.com/x-tag/datepicker)

[2013-11-20 07:06] potch commented on #104
Thanks so much for the profile!

[2013-11-20 12:06] LukeStonehm commented on #104
That would be nice, I am just using the last version I BYOB-ed at the moment. The site is being viewed on IE and Chrome mostly at the moment. I like FF, and dev in FF, so I am pretty much the only one noticing the slow down.

Let me know if there is anything more I can do to help, and thank you :+1:

[2013-11-21 00:58] pennyfx commented on #66
Added checkbox to download page that allows downloading of unminified Brick.
https://github.com/mozilla/brick/commit/87a4a8490f566483cf79750d8cdb825592bfc597

[2013-11-21 00:58] #66 closed, assigned to nobody

[2013-11-21 18:19] fwenzel commented on #105
I forgot to say thanks -- I read that and it was enlightening :)

[2013-11-22 14:51] nahojd opened #106 "Calendar: console.log in minfied file breaks in Internet Explorer"
In Internet Explorer, there is no console object until you open the dev tools (see http://stackoverflow.com/questions/3326650/console-is-undefined-error-for-internet-explorer).

Unfortunately, even the minified version of the calendar component contains a few console.log calls, which for example breaks the "next month"-arrow (at least in IE9). These should be removed or at least check if console i

[2013-11-22 18:12] potch commented on #104
I'm working on re-vamping the way that the hover trigger style works, which will fix this. Might not be finished until next week.

[2013-11-22 18:49] potch commented on #61
I smell a 1.0 re-vamp, don't you?

[2013-11-22 20:05] fwenzel commented on #106
Yeah that smells like leftover from development.

[2013-11-22 21:41] pennyfx commented on #36
I added our existing x-shiftbox which by default acts like a hamburger menu.    https://github.com/mozilla/brick/commit/89e0824e1ed113e8d48653903b320e5d2424e28a

[2013-11-22 23:44] nickdesaulniers opened #107 "Can't switch tabs on FxOS device"
Tested on 1.2 Keon.

Since upgrading to 1.9.1, I cannot switch tabs on device!

CC @wfwalker

[2013-11-23 11:48] zalun commented on #73
Please check if it's working on http://alpha.jsfiddle.net/

[2013-11-25 07:24] LukeStonehm commented on #104
That's all good, let me know if there is anything I can do to assist :+1:

[2013-11-25 10:55] zalun commented on #73
It is on the production site now as "Brick edge"

[2013-11-25 10:55] #73 closed, assigned to nobody

[2013-11-25 15:24] sole opened #108 "x-calendar weird in jsfiddle"
I made this inaugural jsfiddle with Brick but apparently the calendar has some cosmetic issues:

http://jsfiddle.net/29C8U/5/

https://pbs.twimg.com/media/BZ7AKC1CYAId1gV.png

[2013-11-27 16:14] Pointy commented on #108
The day blocks are styled with "height: 100%", and the surrounding "week" is only about 1em high. The "week" div has border-box sizing and height of 2em, but it's also got some padding.

Giving the day blocks a height of 2em makes it look better, but I'm not at all qualified to claim that's the best solution.

[2013-11-27 18:47] robhudson opened #109 "Calendar doesn't pick correct date when clicking day in prev or next month"
Before clicking Oct 30th:
![screenshot 2013-11-27 10 40 43](https://f.cloud.github.com/assets/1106/1634076/292b687c-5794-11e3-9baa-3ade3e85b4e2.png)

After clicking it selected Oct 2nd:
![screenshot 2013-11-27 10 40 58](https://f.cloud.github.com/assets/1106/1634086/44395638-5794-11e3-9db8-996ed277d04d.png)

[2013-11-27 21:51] umhan35 commented on #27
I think we need to put this information somewhere explicitly.

[2013-11-28 13:47] bbaia opened #110 "Rename GitHub project description"
Actually:
UI Web Components for **Mobile** Web Apps

Should be:
UI Web Components for **Modern** Web Apps

[2013-12-02 17:52] potch commented on #79
this user apparently no longer exists. I'm not sure how to help them.

[2013-12-02 17:52] #79 closed, assigned to nobody

[2013-12-02 18:03] potch commented on #110
Done! :+1:

[2013-12-02 18:03] #110 closed, assigned to nobody

[2013-12-02 22:36] nickdesaulniers commented on #107
status update bump, @potch

[2013-12-04 17:51] tofumatt commented on #107
I actually can't switch tabs use `x-tabbar` on ANY device/browser. Tested in Firefox 27 (current Aurora), Firefox OS, Safari, MobileSafari, etc.

[2013-12-04 17:51] tofumatt commented on #61
<3s for @gkoberger

[2013-12-04 17:57] tofumatt opened #111 "TypeError 'mozMatchesSelector' in Firefox on click/tap events"
I get the lovely error whenever I click/tap in Firefox:

[code]

![screenshot 2013-12-04 12 52 53](https://f.cloud.github.com/assets/90871/1675652/a59c7ee0-5d0d-11e3-89d2-b889b4c6fde4.png)

[2013-12-04 19:35] campd opened #112 "Appbar documentation is timid"
"An x-appbar is a simple component emulating the standard layout of a header seen at the top of a mobile application."

I don't want to Emulate a mobile application, I want to Build one.  Give yourselves some credit :)

[2013-12-04 19:44] potch commented on #112
preach.

[2013-12-05 22:21] pennyfx commented on #105
@csuwildcat  It looks like the animation was removed long ago.

https://github.com/x-tag/toggle/blob/master/src/toggle.styl

[2013-12-05 22:22] pennyfx commented on #36
I guess we're not shipping this component with 1.0.    It's ready to be included at any time though.

[2013-12-05 23:49] #105 closed, assigned to nobody

[2013-12-05 23:50] pennyfx commented on #36
Moved to 1.1 Milestone

[2013-12-06 00:25] pennyfx commented on #65
Moving:  https://github.com/x-tag/iconbutton/issues/1

[2013-12-06 00:25] #65 closed, assigned to nobody

[2013-12-06 00:27] pennyfx commented on #104
Didn't we figure this out a few weeks ago? @potch

[2013-12-06 01:25] potch commented on #111
This is fixed in 0.9.2. Hooray!

[2013-12-06 01:25] #111 closed, assigned to nobody

[2013-12-10 01:09] potch commented on #108
in this case, it's a bit of CSS that's leaking into the component:

[code]

We could put some preventative CSS in place, but this is what Shadow DOM is supposed to fix, so I'm inclined to leave this as is for now. It's unfortunate.

[2013-12-10 01:09] #108 closed, assigned to nobody

[2013-12-26 19:25] tehsis opened #113 "Slidebox with tabbar breaks on FirefoxOS when writing on text area"
I've a slidebox which is handled by a tabbar.

Everythings works just fine on almost everything but FirefoxOS.

http://jsfiddle.net/7Vq4R/1/embedded/result/

If you run that example on a FirefoxOS Device (tested on FirefoxOS 1.1 on Alcatel One Fire and FirefoxOS Simpulator) when you hit the second tabbar and try to write something on the textarea, the slidebox gets broken.

[2013-12-27 01:11] fwenzel commented on #113
Nice find! Thanks a lot. The brick team is on holiday break right now but will most definitely take a look after their return. Or, if you feel like it and can pinpoint the issue yourself, you're of course more than invited to submit a pull request. Cheers!

[2013-12-27 12:57] tehsis commented on #113
Thanks! I'll take a look to it.

It's nice to know about the holidays since I've made a PR to x-tabbar a
week ago and haven't see any movement there since that :)

Pablo E. Terradillos

On Thu, Dec 26, 2013 at 10:11 PM, Fred Wenzel notifications@github.comwrote:

[2013-12-29 16:20] nickdesaulniers opened #114 "Downloading 0.9.2 zip contains 0.9.1 and 0.9.2 assets"
[code]

[2013-12-31 18:59] JoshStrobl commented on #106
So, we can do one of two things:
1. Check if console is defined first prior to doing console.\* commands
2. Remove console.\* calls from the Javascript.

Personally, I'd go with the first one, however it **may** add some minor overhead since every time we call console.log, console.warn, etc. we'll be checking if it is defined or not (which will fix the IE issue).

If we remove console.\* commands,

[2014-01-02 20:39] potch commented on #106
Hey @JoshStrobl! I'd be happy if the console.log calls were removed (just was well to be a good citizen in a production environment). I'm off right now, but would happily accept a pull request! Thanks :)

[2014-01-02 22:56] JoshStrobl commented on #106
@potch Awesome, I'll go ahead and patch it when I wake up in the morning! I'll also minify the fixed files as well, so the minified JS files will be patched as well!

[2014-01-02 23:06] potch commented on #106
Thanks! Don't worry about the minification, I'm going to spin a new build
once I merge.

On Thu, Jan 2, 2014 at 2:56 PM, Josh Strobl notifications@github.comwrote:

[2014-01-06 21:51] potch commented on #114
not sure how I made this mistake, but this is my bad. Fixing right now.

[2014-01-07 00:04] potch commented on #114
re-upped the zip file to only contain 0.9.2 assets.

[2014-01-07 00:04] #114 closed, assigned to nobody

[2014-01-13 12:18] sole opened #116 "Link to jsfiddle and other sites that let you play with Brick "live""
Putting this here so we don't forget. Not super urgent but it will encourage people to play.

Maybe we should also have a post on the blog when/if more than one site makes Brick available!

[2014-01-13 12:38] sole opened #117 "New components for 1.1"
In the interests of documenting this without getting lost in discussions somewhere else:
- Shiftbox
- Modal

And my proposal:
- Something akin to ListView so we can scroll over many elements without killing performance

[2014-01-13 18:00] fwenzel commented on #116
http://codepen.io/ probably also lets you use it live.

[2014-01-13 19:35] sole commented on #116
I'll investigate!

[2014-01-15 23:29] potch opened #118 "Large Form Factor Designs?"
Do some components (`layout` in particular) need to be adjusted for larger format interfaces?

[2014-01-15 23:48] fwenzel commented on #104
hi, @potch @pennyfx I seem to recall this is fixed?

[2014-01-16 06:08] LukeStonehm commented on #104
Oh happy days, please let it be fixed :-D
On Jan 16, 2014 1:48 AM, "Fred Wenzel" notifications@github.com wrote:

[2014-01-16 13:45] sole commented on #118
I was thinking about that too, and wondered whether should it be `layout` or rather the things contained in `layout`? (or both!).

As in, maybe larger fonts, also make the items in the layout not take 100% width but maybe have columns or float (?). But this seems like something that should be done in each contained element, not in the layout itself.

Anyway there goes my 2 cents :moneybag:

[2014-01-23 04:06] xiaoyuandlg commented on #109
Oh, I got the exactly same question on another [C# calendar control](http://www.kettic.com/winforms_ui/calendar_overview.shtml). I read through all the [calendar tutorial](http://www.kettic.com/winforms_ui/csharp_guide/calendar_get_started.shtml) but nothing be found as a good solution.

[2014-01-23 04:27] fwenzel commented on #109
@potch @pennyfx  can you confirm or has this since been fixed?

[2014-01-28 08:08] LukeStonehm commented on #104
Any news on this?

Updated version of FF is giving me "TypeError: b is null" when I hover on any element now.

[2014-01-28 13:05] precz commented on #51
+1

[2014-01-30 22:32] potch commented on #104
@LukeStonehm We've been plagued by a number of issues with the x-tooltip in its current implementation. We want to supply a high-quality component, but it's not going to be ready for our initial 1.0. The current plan is to remove x-tooltip from the default list of Brick components, and re-introduce it in the next month with a new, more performant implementation (that will be here to stay!). The co

[2014-01-30 22:33] #104 closed, assigned to potch

[2014-01-30 22:40] potch opened #119 "Toggle adjustments"
See https://github.com/x-tag/toggle/issues/2

[2014-01-30 22:42] potch commented on #82
This works! Thanks @pennyfx

[2014-01-30 22:42] #82 closed, assigned to potch

[2014-01-30 22:42] potch commented on #87
All done in 0.10.0

[2014-01-30 22:42] #87 closed, assigned to nobody

[2014-01-31 06:20] LukeStonehm commented on #104
I understand, it's no problem. I have pulled it already :) I look forward
to the revamped x-tooltip :)

On Fri, Jan 31, 2014 at 12:33 AM, Potch notifications@github.com wrote:

[2014-02-03 15:45] sole opened #120 "x-tabbar with x-flipbox example doesn't do anything"
http://mozilla.github.io/brick/demos/x-tag-tabbar/index.html

tried it with both Firefox Nightly and Chrome Stable and nothing happens.

In Chrome I also get this error in the console when I click on 'Front' for the first time:
body.scrollLeft is deprecated in strict mode. Please use 'documentElement.scrollLeft' if in strict mode and 'body.scrollLeft' only if in quirks mode.

[2014-02-03 15:46] sole commented on #120
Oh and I don't have webcomponents enabled in Nightly, so the world shouldn't be breaking :D

[2014-02-03 19:27] fwenzel commented on #120
confirmed!

[2014-02-04 19:47] JasonWeathersby opened #121 "CSP Warnings in Validator"
When running an App through the Marketplace Validator we get CSP Warnings.  Here is the first:
Warning: It appears that your code may be performing an action which violates the CSP (content security policy) for privileged apps.

You can find more information about what is and is not allowed by the CSP on the Mozilla Developers website. https://developer.mozilla.org/Apps/CSP
js/brick-0.10.0.js
459

[2014-02-04 19:50] potch commented on #121
A warning isn't a full violation, right? This looks like validator is worried we might createElement('script'). Unless I'm missing something.

[2014-02-04 21:47] fwenzel commented on #121
oooh I think it's because the validator does static analysis so it can't know what's inside that variable at execution time. The actual CSP engine, of course, will know and will fail if this is a script (which it isn't).

I'd probably close this because this warning is legit, but so is Brick's code.

[2014-02-05 06:02] potch commented on #121
@fwenzel That was my assumption as well. Gonna close this up.

[2014-02-05 06:02] #121 closed, assigned to nobody

[2014-02-05 17:33] mythmon opened #122 "Calendar example isn't working in Firefox Nightly (Desktop)"
[The calendar example](http://mozilla.github.io/brick/demos/x-tag-calendar/index.html) has a blank phone, and this error in the console:

[code]

![izzeby0](https://f.cloud.github.com/assets/305049/2089791/903a7336-8e8b-11e3-9ed6-4a023c90b2fd.png)

[2014-02-05 18:46] mythmon commented on #122
Welp, turns out that `dom.webcomponents.enabled = true` breaks everything.

[2014-02-05 18:46] #122 closed, assigned to nobody

[2014-02-05 21:47] cfjedimaster opened #123 "changelog for 10.0"
Looks like the changelog wasn't updated for the last release.

[2014-02-06 16:44] sole opened #124 "Why do things break when dom.webcomponents.enabled = true?"
Apparently some components in Brick don't work nicely when web components support is enabled in Nightly, which sounds pretty bad (according to @potch `webcomponents.enabled` "break the world", urgh)

My very limited report consisting in testing only two different things shows wild differences:
- flipbox works
- calendar doesn't (`TypeError: this.xtag.calObj is undefined`)

We should look into this

[2014-02-07 19:19] potch commented on #124
The implementation of WC stuff in Firefox lags behind the specification, sometimes considerably. I'm hesitant to dig into this until there's some stability in the spec and in the various browser implementations.

[2014-02-07 20:20] potch commented on #123
https://github.com/mozilla/brick/commit/94d9781d07c92a74d0dda5aa2e3bb1bd8873d44e

[2014-02-07 20:20] #123 closed, assigned to nobody

[2014-02-09 07:47] p0ffsrule commented on #40
Is it ok if I tried working on this?

[2014-02-10 10:39] sole commented on #40
While we wait for @potch or @pennyfx to confirm it's OK to take this bug, I'd say go ahead if this is an issue that interests you, and let us know how it works for you--any issues or stumbling blocks you find, etc.

Thanks for contributing! :smile:

[2014-02-10 12:20] sole commented on #124
Since I'm the curious type and I'm investigating the usage/implementation of "raw" web components, I will have a look and see if I find what it actually breaking. I don't promise anything but I'll give it a go, because I find it very annoying to have to enable/disable things when browsing :-)

[2014-02-10 14:51] p0ffsrule commented on #40
I'd just need to know a few details about how exactly you'd need it implemented.  Like the UI and so on.

[2014-02-10 15:00] sole commented on #40
This is something someone suggested... What about sketching some ideas and discussing them before coding anything? :)

[2014-02-10 15:50] p0ffsrule commented on #40
Right.  I thought it could be added to the 'multiple' attribute and have a little button to add a range selection mode where the next 2 dates selected would define the range.  Only thing is that there wouldn't be any space in the layout for such a button.

[2014-02-11 05:30] p0ffsrule commented on #40
Or would it be better if I created a new attribute 'range'?  Seems like overkill...

[2014-02-11 07:49] LukeStonehm commented on #104
I see x-tooltip is back up to DL. Was this issue sorted? I am no longer seeing the errors I once was, at least on the demo page :)

[2014-02-11 09:59] sole commented on #40
So these are the current attributes:
http://mozilla.github.io/brick/docs.html#x-tag-calendar

`multiple` allows for multiple dates to be selected and `chosen` holds the dates themselves.

I was thinking that one way of approaching this could be to have a `allowRanges` attribute (or just `ranges`?) that when present allows you to "point and drag" several dates (starting from the first one you selec

[2014-02-11 10:13] p0ffsrule commented on #40
But the point and drag wouldn't be very convenient if the range spanned more than 1 month.

[2014-02-11 10:30] sole commented on #40
Yeah I thought that for a moment, too. But we want the point and drag to quickly select dates rather than clicking on each of the potentially 31 days in the month, right? This would be a solution to that issue: if `allowRanges` is enabled, holding down and moving the finger or clicking down and dragging should select multiple dates.

I think the "spanned more than 1 month" is another problem :-)

[2014-02-11 10:33] p0ffsrule commented on #40
OK.  I'll try it like that.

[2014-02-18 22:17] leostratus opened #127 "Not selecting any components in the download builder leads to... well, nothing at all actually so that's not good"
Repro:
1. Go to http://mozilla.github.io/brick/download.html
2. Click 'Build Bundle' without selecting any of the checkboxes.
3. ???

'Build Bundle' should either be disabled entirely until some of the app components are selected for inclusion, or if we want to allow a download of X-Tag core without our elements we should inform the user that not selecting any elements just gives you X-Tag core.

[2014-02-18 22:34] potch commented on #127
This seems quite reasonable.

[2014-02-18 22:35] potch commented on #127
@pennyfx, you want to take a look at disabling "build bundle" until there's a bundle to build?

[2014-02-18 22:36] potch commented on #119
toggle has been revamped, this is unnecessary now.

[2014-02-18 22:36] #119 closed, assigned to nobody

[2014-02-18 22:37] potch commented on #107
This is fixed up, I believe.

[2014-02-18 22:37] #107 closed, assigned to nobody

[2014-02-18 22:38] tofumatt commented on #107
I will check today and reopen the issue if it's still broken.

[2014-02-18 22:40] potch commented on #39
We've removed these features, so closing this up.

[2014-02-18 22:40] #39 closed, assigned to nobody

[2014-02-18 22:41] potch commented on #52
We've cut `iconbutton` from the Brick team, so to speak, so closing this up.

[2014-02-18 22:41] #52 closed, assigned to potch

[2014-02-18 22:44] potch commented on #112
Language assertiveness increased.

[2014-02-18 22:44] #112 closed, assigned to nobody

[2014-02-18 22:45] potch commented on #74
I'd like to see us do something wise here.

[2014-02-18 22:55] pennyfx commented on #127
Fixed   https://github.com/mozilla/brick/commit/3d2ad4d467ffd84191c91fe795e0d098819dc377

[2014-02-18 23:08] pennyfx commented on #127
I added x-tag core to the list of components as "checked" and "disabled".  This allows the user to see that x-tag core is required for our components and is the default download if nothing else is selected.

[2014-02-19 03:24] callahad commented on #106
I think this has been resolved. As of 4a8f97617839cab858c0e49caf6443b5b6c6671a, the only live calls to `console.log` are hidden behind a `logFlags.dom` check:

[code]

There are a few calls to `console.warn` that bypass `logFlags.dom`, but all of those are instead guarded by conditional error checks.

[2014-02-20 14:44] sonnyp opened #128 "Build Bundle with 0 components selected do nothing"
http://mozilla.github.io/brick/download.html

The progress bar will fill and nothing else happens.

[2014-02-20 18:00] fwenzel commented on #128
Good find!

[2014-02-20 18:44] sole commented on #128
Dupe of #127 ? which is supposedly fixed? Maybe a gh-pages push is in order

[2014-02-20 19:32] pennyfx commented on #128
Ya, it's fixed.  Just need to update the site.

@potch

[2014-02-20 19:38] potch commented on #128
Doing this right now!

[2014-02-20 19:39] sole commented on #128
Is there any special process before deploying to gh-pages? some sort of build script that needs to be run? It'd be good to know just in case we need emergency out-of-PST support ;-)

[2014-02-20 19:52] sole opened #129 "We need CONTRIBUTING.md"

[2014-02-20 20:11] potch commented on #129
a-yup.

[2014-02-21 04:13] gasolin opened #130 "turn FirefoxOS UI element to brick"
as shown in http://buildingfirefoxos.github.io/Building-Blocks/

Which make brick the mobile first reusable web component set and also benefit FirefoxOS.

[2014-02-21 04:15] gasolin commented on #130
Or if you feel it's fine to mentor someone to do it, add it here https://wiki.mozilla.org/Community:SummerOfCode14

[2014-02-21 04:16] gasolin commented on #130
related to the discussion in https://github.com/buildingfirefoxos/Building-Blocks/issues/27

[2014-02-24 19:47] sole commented on #127
I am trying to get the site rebuilt and repushed (without much success I must say, but that's another problem) and I got to see the new version of the download page where x-tag-core is displayed as an existing component... but I don't think that's good UI because that's not a component at all.

We need a better solution.

[2014-02-24 19:51] sole commented on #128
closed as duplicate of #127

[2014-02-24 19:51] #128 closed, assigned to nobody

[2014-02-24 19:55] sole opened #131 "grunt site ends up deleting demos/ folder"
I'm trying to get the site rebuilt so that I can push to gh-pages for #127 but I find that the instructions in https://github.com/mozilla/brick/wiki/Deploying-the-Brick-site lead me to end up without the `demos/` folder

I tried `grunt build`, `grunt site`, all the grunts I could think of, but I can't make this thing work. What's the one weird grunt trick that me and any other contributor that wan

[2014-02-24 22:38] pennyfx commented on #131
`grunt demos`  ?

[2014-02-25 16:03] sole commented on #131
no luck :-(

[code]

[2014-02-25 16:47] pennyfx commented on #131
Looks like it can't find all the template files that live at `./bower_components/[component]/demo/template.html`    Did you run `bower install`  ?

[2014-02-25 16:48] sole commented on #131
Yes and it doesn't change anything. I've also deleted `bower_components` and ran `bower install` again and I still don't have any luck.

[2014-02-25 17:03] csuwildcat opened #132 "Demo for Appbar uses a header element instead of headings"
This needs to be corrected before 1.0 final

[2014-02-25 17:16] csuwildcat opened #133 "The Appbar regression to <header> use is still live on Brick RC"

[2014-02-25 18:59] sole opened #134 "Make grunt build the whole thing by default"
So just running grunt "fires on all cylinders"\* instead of just on the `dist` cylinder.

*Using Rick's metaphors here because why not.

[2014-02-25 20:39] pennyfx commented on #134
Done. Now you just have to run  `grunt`.  I also updated the wiki page.

[2014-02-25 20:39] #134 closed, assigned to nobody

[2014-02-25 20:40] pennyfx commented on #131
Resolved.

https://github.com/mozilla/brick/commit/11ec7536f5f06961d1b8bb522dd921f066659235

[2014-02-25 20:40] #131 closed, assigned to nobody

[2014-02-27 00:08] sole commented on #127
I've got the latest version, built it and merged it to `gh-pages`, so we finally don't let the user not select anything. It's deployed now!

We still need to fix this thing where x-tag-core looks like a component, which it technically isn't :-)

[2014-02-27 15:51] sole commented on #124
@potch I tried this with the latest Nightly, which has the standard-compliant `document.registerElement` implementation, _anddddddd_... **IT WORKSSSSSSSS!**

So very exciting.

I also tried to trace what the root of the issue was, past week. The only thing I could find is that the `this.xtag` object was created when the `created` callback was called. But with the old implementation that never happ

[2014-02-27 15:51] #124 closed, assigned to sole

[2014-02-27 18:00] pennyfx commented on #127
Agreed that it is a little awkward.  My reasoning was that it should be clear what exactly is being packaged together.

In the future we want to show that Core relies on a polyfill and have that be an optional include.  We also want to show other X-Tag related libs like [Transitions](https://github.com/x-tag/transitions) ,[pseudos](https://github.com/x-tag/pseudo-outer) and skins.   Essentially th

[2014-02-27 20:54] pennyfx commented on #133
Fixed in latest release.

[2014-02-27 20:54] #133 closed, assigned to nobody

[2014-02-27 20:54] pennyfx commented on #132
Fixed in latest release.

[2014-02-27 20:54] #132 closed, assigned to nobody

[2014-02-28 19:27] rlr opened #135 "There is a github 404 page inside my css build."
LOLWUT?

[code]

[2014-03-03 21:58] potch commented on #135
oof.

[2014-03-03 21:59] potch commented on #101
Moving this to 1.1. Expect it soon!

[2014-03-03 22:19] pennyfx commented on #135
Hah,  fixed!  https://github.com/mozilla/brick/commit/b10dcd07b5134aa19c148d010132de1cf4939df6

[2014-03-03 22:19] #135 closed, assigned to nobody

[2014-03-03 23:03] potch commented on #89
This is fixed!

[2014-03-03 23:03] #89 closed, assigned to potch

[2014-03-03 23:08] potch commented on #51
I've moved this issue to our 1.1 timeframe.
A lot of developers use the 'card' UI pattern, but want control over the way in which various cards are displayed. Even though they all live in a flat stack, only clicking the 'settings' button should show the 'settings' card, for example. I want to enable devs to opt-in to gesture based card movement, but it would break too many existing <x-deck> based

[2014-03-04 00:15] fwenzel commented on #135
Nice bug :)

[2014-03-04 15:51] darkwing commented on #120
Just tested, can no longer duplicate.

[2014-03-04 16:37] sole commented on #120
What happens with Nightly right now is that right after loading that example the "One" slide is not loaded. If I click on "One" it does load.

[2014-03-04 19:33] potch commented on #120
We no longer have the notion of the first card being the default. The bug is definitely with the demo code now :)

[2014-03-04 23:18] sole opened #136 "website says we're still in beta"
under Feedback -> "Brick is currently in Beta"

[2014-03-05 00:25] fwenzel commented on #136
"brick is in perpetual beta" ;)

[2014-03-05 05:15] potch commented on #109
This is fixed- selecting a date in the prev/next month does not switch months, and selects the day.

[2014-03-05 05:15] #109 closed, assigned to nobody

[2014-03-05 19:10] csuwildcat opened #137 "Transition text-centric components to flexible em-based sizing/padding"
If you look at appbar as an example, we can make components work well with textual content they contain by transitioning to em font-sizes and padding.

[2014-03-05 19:14] csuwildcat commented on #117
Let's discuss this, then break it into discrete issues per-component that are tagged with the appropriate milestone.

[2014-03-05 19:16] csuwildcat opened #138 "Bring in a build of <x-toggle> that provides taphold multi-toggle selection"

[2014-03-05 19:18] csuwildcat opened #139 "Augment the <x-toggle> examples"
Many of the examples need to have more <x-toggle> elements in them and should be presented in a vertical list to make the demos easier to grok.

[2014-03-05 19:24] csuwildcat commented on #80
We do not modify prototypes, so if `each` is failing I don't believe it is possible that it is being caused by X-Tag (the library brick is based on). Can you provide a reduced test case that just includes X-Tag and Prototype together?

[2014-03-05 19:30] csuwildcat opened #140 "Deprecate or de-emphasize tabbar in favor of a better component"
We should look at creating an all-around better tabbing component. This could be a semantic, more robust/sturdy tabbox, or a demo of <x-action> that shows how to do switching of a deck/panels.

[2014-03-05 19:43] potch commented on #140
What's the rationale? People seem to get the tab motif, which is a set of equally sized triggers for content on a content switching panel. I don't like the notion of tying tabs to their content in a single component, it's too tightly coupled.

[2014-03-05 19:43] potch commented on #139
Agreed! The toggle examples need love.

[2014-03-08 22:03] leostratus opened #141 "Download custom build not working"
See attached screenshot for console output etc.
![screen shot 2014-03-08 at 2 01 40 pm](https://f.cloud.github.com/assets/954624/2366551/77939106-a70d-11e3-84fe-59cc362f0963.png)

[2014-03-08 22:09] leostratus commented on #141
Verified this is a bug in Nightly/FF30, not Brick. Will file elsewhere.

[2014-03-09 03:34] sole commented on #141
It actually fails on stable too...
![screen shot 2014-03-08 at 19 32 30](https://f.cloud.github.com/assets/5609/2367103/79fe3288-a73b-11e3-886a-f2f3ad0f0218.png)

Might it be that it is trying to always include a CSS file per tag but there isn't a CSS file for x-tag core?

[2014-03-09 23:04] fwenzel commented on #141
Makes sense, how did it break though? Used to work just fine. /me scratches head

[2014-03-09 23:11] pennyfx commented on #141
Is it broken?   I tested it with FF 27 on android, Windows and Mac and it
worked.
On Mar 9, 2014 4:04 PM, "Fred Wenzel" notifications@github.com wrote:

[2014-03-09 23:54] fwenzel commented on #141
Yeah it's broken.

STR:
- latest nightly (though I don't think it matters)
- click core and deck (well, core is always on)
- download.

And you'll see both sole's and Angelina's error messages.

[2014-03-10 03:07] pennyfx commented on #141
Right, but as Angelina said, the issue is with FF nightly not Brick.

On Sun, Mar 9, 2014 at 4:54 PM, Fred Wenzel notifications@github.comwrote:

[2014-03-10 04:03] fwenzel commented on #141
/me facepalms. Oh yeah she did say that.

Angelina, have a bug number?

[2014-03-10 18:06] #141 closed, assigned to nobody

[2014-03-11 20:34] waldyrious opened #142 "Calendar should have constant height"
_(Note: I'm not sure whether to report this here or over at [x-tag/calendar](https://github.com/x-tag/calendar); let me know if I should report this issue there instead)_

In the [calendar demo](http://mozilla.github.io/brick/demos/x-tag-calendar/index.html), specifically the one with navigation controls, the height of the calendar changes if the days of the month being displayed cover a different

[2014-03-11 21:13] waldyrious opened #143 "<x-flipbox>'s first and last children background color"
In the [x-flipbox demo](http://mozilla.github.io/brick/demos/x-tag-flipbox/index.html), the background of the first and last children is set to specific colors whose meaning isn't clear from the UI. They should be mentioned in the demo page (and the custom css code should be shown there too), or otherwise be removed to reduce confusion.

[code]

[2014-03-11 22:28] potch commented on #143
There's no meaning, just meant to distinguish them visually in the demo. The demos aren't meant to be copy-paste code for use in your project, but to show off the functionality.

[2014-03-11 22:30] potch commented on #140
In disucssion outside of this issue, we've come to the conclusion something like the tabbar but with more flexibility should be built, and over time users should be pointed toward that component. Presently being tracked as 'actionbar'.

[2014-03-11 22:31] sole commented on #140
Soooo I was going to rewrite the tabview template to use Brick. Does that mean I should wait or can I use the tabbar component already? https://github.com/sole/mortar-tab-view

[2014-03-11 22:35] csuwildcat commented on #140
I can get x-action together in short order so Sole can move forward with
that layout - it's a really simple component, and I have time on my hands.

On Tue, Mar 11, 2014 at 3:31 PM, sole notifications@github.com wrote:

[2014-03-11 22:37] sole commented on #140
I guess the layout won't be much different from tabbar - right? I mean I can get started and then we update to whatever once the new component exists.

[2014-03-11 22:53] csuwildcat commented on #140
Not too much, the <x-action> elements are going to point at a panel or
content section, and they allow you to fire/call an event/method on the
target, so it can be swapped. I'll get this WIP updated and ready though.

On Tue, Mar 11, 2014 at 3:37 PM, sole notifications@github.com wrote:

[2014-03-12 01:22] waldyrious commented on #143
Sure -- what I'm saying is, the demo is precisely to showcase the possibilities, so it seems natural for such changes to be pointed out, don't you agree? (And indeed most other customizations are indicated in the text and/or the code, when they occur.)

[2014-03-13 00:45] ryanseys commented on #142
+1 for this little ditty.

[2014-03-13 23:04] sole opened #145 "The download file contains rc1 files (as well as 1.0.0)"
Right now if I download the file from the [download page](http://mozilla.github.io/brick/download.html) I get extra files on it:
`
-rwxr-xr-x  1 sole  staff  221328  4 Mar 08:16 OpenSans-SemiBold.ttf
-rwxr-xr-x  1 sole  staff   30768  4 Mar 08:16 brick-1.0.0.css
-rwxr-xr-x  1 sole  staff  158101  4 Mar 08:16 brick-1.0.0.js
-rwxr-xr-x  1 sole  staff   25612  4 Mar 08:16 brick-1.0.0.min.css
-rwxr-xr

[2014-03-15 02:51] katieannemills opened #146 "touch conflict between Brick and Kinetic.js"
Hi Brick,

Congratulations on 1.0!  I love your product, but while building with it today, I discovered that things break when I try to use Brick 1.0.0 with [Kinetic.js](https://github.com/ericdrowell/KineticJS) 5.0.1.  It seems that Kinetic's logic to follow the mouse around over its `<canvas>` elements for doing hit testing runs into problems in projects that include Brick; to reproduce what I s

[2014-03-15 17:36] fwenzel commented on #145
oops. Does the build script need a tweak?

[2014-03-18 23:35] pennyfx commented on #145
Can you try this again?  I have not been able to reproduce it anywhere.

[2014-03-19 10:56] sole commented on #146
Hey Bill! Thanks for helping tracking down this mysterious issue.

I suspect it might be something that x-tag/core does.

Can you just include `x-tag-core.js` in your project instead of including the whole Brick suite, and see if this still happens? Then we can invoke the `ma(k|st)ers` of x-tag and ask them about this :)

[2014-03-19 11:25] sole commented on #145
Sorry perhaps I wasn't very obvious. I am referring to the result of downloading the whole Brick bundle.

These are the steps I'm following:

1) go to the download page: http://mozilla.github.io/brick/download.html
2) click **Download Brick** (points to https://github.com/mozilla/brick/releases/download/1.0.0/brick-1.0.0.zip)
![screen shot 2014-03-19 at 11 20 31](https://f.cloud.github.com/assets/

[2014-03-19 12:02] sole opened #148 "Proper hierarchy in README.md"
We don't need to use so many h1's. We're also mixing ==== with #### styles-we should consolidate it all.

[2014-03-19 20:59] tofumatt commented on #61
I would be into integrating the PSD into the actual HTML, unless anyone else has claimed this task?

[2014-03-20 17:15] #136 closed, assigned to nobody

[2014-03-20 18:00] #148 closed, assigned to nobody

[2014-03-23 23:36] katieannemills commented on #146
Ooops, right you are Sole, the same behaviour appears when just including a freshly downloaded `x-tag-components.js`, so this problem is upstream of brick.  I'll go take my issue over there, thanks!

[2014-03-23 23:36] #146 closed, assigned to nobody

[2014-03-25 03:02] ozten opened #153 "Brick 1.0.1 Download is 404"
STR
1) Load http://mozilla.github.io/brick/ Click Download
2) http://mozilla.github.io/brick/download.html Click Download Brick

Actual:
https://github.com/mozilla/brick/releases/download/1.0.1/brick-1.0.1.zip is a 404

I also tried the custom download builder, which shows a progress bar after clicking "Build Bundle" but then nothing happens. Not sure if that is broken or if I'm missing how to dow

[2014-03-26 20:44] potch commented on #153
This should be working now, my apologies.

[2014-03-26 20:50] sole commented on #153
:clap:

[2014-03-26 20:59] ozten commented on #153
Verified as AWESOME!

[2014-03-26 20:59] #153 closed, assigned to nobody

[2014-03-27 08:31] svapreddy opened #154 "BrickJS conflicting with Zepto JS"
I have a table content inside x-card of deck. I have registered tap event with table row using zepto touch events (Delegation). But when I actually see with break point, the same handler is being fired twice. Once by Zepto and next by BrickJS. Is there any solution for this?

[2014-03-28 06:01] tofumatt opened #155 "Use Jekyll for some automation in site build"
So in working on the site in #151, I noticed a fair bit of the site is repeat info that's manually copied across (header tags, version number, etc.). Would you be into converting (or rather, having me convert) the site over to Jekyll so certain bits of data could be rendered out via Jekyll variables?

The content would stay the same, and we could even keep the site in the `master` branch if you wa

[2014-03-28 06:18] ScottMichaud commented on #129
Just submitted a placeholder one as a... ... building block? :3

[2014-03-28 21:38] tofumatt opened #157 "Demo phone renders on top of navbar in Safari"
In Safari, the demo phone will overlap the menu. This is particularly problem in my site redesign (#151). Simple fixes like `z-index` wouldn't help. It seems to only happen for the `x-flipbox`, not other tags.
### Screenshots

![screenshot 2014-03-28 17 37 13](https://cloud.githubusercontent.com/assets/90871/2555561/4c13fe30-b6c1-11e3-9971-d9d480ef353c.png)

![screenshot 2014-03-28 17 38 41](https

[2014-03-29 21:32] fwenzel commented on #129
I see what you did there :surfer:

[2014-04-03 04:10] svapreddy commented on #154
`Thanks for no reply`. BrickJS has very severe issues in Android mobile. Sometimes does not let you even focus in textbox and does not let you click. I have removed the BrickJS and I am breathing freely now. And looking at MDN docs information every developer hope for Cross browser solution from Mozilla.

[2014-04-03 07:58] sole commented on #154
Hey @svapreddy, sorry no one got back to you.

Thanks for filing this bug! We rely on people like you to make Brick better.

If you're still interested in getting help we'd appreciate if you could show us an example that demonstrates this issue so we can find out if it's an issue of Zepto, Brick or _both at the same time_.
Otherwise it's really hard to help :-)

Thanks and sorry for the delay!

[2014-04-03 13:28] willkg opened #158 "x-deck docs say to use "show" but it should be "selected""
The x-deck docs have examples that use "show" in the x-card, but "show" doesn't work. If I use "selected", that works.

Further, it doesn't talk about how to mark an x-card to show by default which seems like a big omission. I know it's something that bit me already.

I'm talking about the docs here:

http://mozilla.github.io/brick/demos/x-tag-deck/index.html

Can someone verify that's correct? If

[2014-04-03 15:54] sole commented on #158
Sounds like a documentation issue-API change + not updating the Brick demos! `showCard` is updated in the `x-deck` repo: https://github.com/x-tag/deck#showcardindexelement-direction

I am using a recent version of `x-deck` in this template, you can have a look if you want to see how it looks like: https://github.com/mozilla/mortar-tab-view/blob/master/js/app.js#L5

And of course if you want to pla

[2014-04-03 15:59] willkg commented on #158
showCard is a js function. I'm talking about the show/selected html attributes. So I think you and I are talking about two different things.

[2014-04-03 19:00] fwenzel commented on #158
AFAICT, selected is correct (I've never seen it any other way) and show is wrong, making this a docs bug O_O

[2014-04-03 19:28] pennyfx commented on #158
It's looks like the template that this doc is created from is correct.  I think Brick just needs to be rebuilt.

[2014-04-03 23:52] willkg commented on #158
If there's anything you think I can do here, let me know. I love doing me some PRs.

[2014-04-04 09:08] sole commented on #158
Fork the project, make a new branch, fix the things, send a PR? :-)

[2014-04-04 11:45] willkg commented on #158
The last comment from @pennyfx suggests to me the problem will fix itself when brick is rebuilt whatever that means. I'm guessing about that since I've never done brick development before, I have no idea how things are organized and I'm not sure if I'm inferring wrong. I don't want to waste my time or yours.

If there is something that really needs doing and someone can help me understand what nee

[2014-04-04 13:28] svapreddy commented on #154
@sole Hello Sole, The issue is in BrickJS fireEvent function where `dispatchEvent` will fire events like `tap`. The problem is while using it with Zepto or any other touch library in mobiles ( This is the use case as people need more events like swipe etc.. ). I have fixed the issue by adding a parameter to BrickJS event data as `isBrickTap` and checking the same at my event handler function with

[2014-04-04 13:28] willkg commented on #158
Nevermind my last comment. I spent some time with @rlr looking at the code and docs in the x-deck repo and I don't think there's anything I can do here.

[2014-04-04 13:29] #154 closed, assigned to nobody

[2014-04-04 13:31] pennyfx commented on #158
@willkg  Sorry about the vague response, I was on mobile at the time.

So the docs are generated from a template file in each components repository.
https://github.com/x-tag/deck/blob/master/demo/template.html

Docs can be rebuilt within Brick by first fetching the latest components using `bower update` then running `grunt demos`.

No problem @willkg ,  we'll fix it.

Thanks for pointing it out in

[2014-04-04 14:08] pennyfx commented on #158
Ah hah!  I found that the wrong attribute was being ignored when updating the docs live html view.
https://github.com/x-tag/deck/blob/master/demo/demo.js#L9

This made the docs in the template.html look correct, but then change in the live demo.

https://github.com/x-tag/deck/commit/58db6f72da13a5a112df73c920c6f3a1844822fd

[2014-04-08 21:06] #158 closed, assigned to nobody

[2014-04-12 08:05] kegita opened #159 "x-deck next card"
Hi! When i click, in my project, on a button to go to next deck, i have to click two times before the transition starts.

[2014-04-14 09:24] kegita opened #162 "Android compatibility native WebView"
From which android native webview is compatible brick???

[2014-04-14 19:57] elsigh opened #163 "ZIP archive should unzip into a directory"
Instead if unzip-litters into the directory you're in

elsigh@foo:~/Downloads $ unzip brick-1.0.1.zip
Archive:  brick-1.0.1.zip
  inflating: OpenSans-SemiBold.ttf
  inflating: brick-1.0.1.css
  inflating: brick-1.0.1.js
  inflating: brick-1.0.1.min.css
  inflating: brick-1.0.1.min.js
  inflating: readme-1.0.1.txt

[2014-04-15 10:20] sole commented on #162
Since it depends on x-tag perhaps @pennyfx or @csuwildcat can better answer this question? :-)

[2014-04-16 10:55] cfjedimaster opened #164 "x-toggle, unicode example, failing in Chrome"
The Unicode example here (http://mozilla.github.io/brick/demos/x-tag-toggle/index.html) fails in Chrome. I see a little box, whereas in FF I see a lightning bolt. I can attach a screen shot if you would like.

[2014-04-16 10:59] cfjedimaster opened #165 "x-card should support a "src" attribute"
It would be cool if x-card could be sourced via XHR. So for example:

[code]

</x-deck>

[2014-04-16 14:54] sole opened #166 "Link to @mozbrick somewhere in the site?"
I was wondering why the amazing Twitter mozbrick account didn't have more followers and guess what, it's not linked anywhere! Or at least not anywhere prominently.

What about adding a small link to "@mozbrick" in the footer, right next to <3 Mozilla?

[2014-04-16 16:54] #61 closed, assigned to nobody

[2014-04-16 19:22] pennyfx commented on #165
We have a panel that does that.

https://github.com/x-tag/panel

You can download it here.

http://x-tags.org/download

[2014-04-16 19:45] cfjedimaster commented on #165
Would that work as a drop in replacement for x-card? That would be cool. :)

[2014-04-16 21:24] pennyfx commented on #165
You'll have to nest them like so:

[code]

[2014-04-16 21:26] cfjedimaster commented on #165
I'm speaking hypothetical now - but I wonder if x-deck could be updated to
allow _any_ block style tag.

On Wed, Apr 16, 2014 at 4:24 PM, Arron Schaar notifications@github.comwrote:

##

#

Raymond Camden, Web Developer for Adobe

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcamden

[2014-04-16 21:44] pennyfx commented on #165
The cards have some special functionality, so it's not possible to use any block element.
https://github.com/x-tag/deck/blob/master/src/deck.js#L143

However, hypothetically, you can create a new custom element that extends from x-card and add any special functionality you want.

For example:

[code]

In this sample, I'm using the same request mixin that is used in x-panel and extending from an x-

[2014-04-16 23:17] potch commented on #166
Yup!

[2014-04-16 23:19] potch commented on #164
You are correct! Will address that, an issue with pseudo-elements.

[2014-04-16 23:19] potch commented on #163
yeah, we could be better citizens in that regard. I'll take this on.

[2014-04-30 19:41] potch commented on #164
At minimum, we should definitely remove the example :)

[2014-04-30 19:45] potch commented on #159
Hello! sorry about the delay in getting back to you. What browser are you encountering this issue in?

[2014-04-30 19:46] potch commented on #155
Is this not an issue, now that I've shown you the templates we use?

[2014-04-30 19:48] potch commented on #145
This is fixed in the latest zip (I accidentally had too many files in my working directory)

[2014-04-30 19:48] #145 closed, assigned to nobody

[2014-04-30 19:50] potch commented on #143
Happy to distinguish the colors in the CSS as arbitrary for the demo, if that helps.

[2014-04-30 19:51] potch commented on #95
Nick, can you confirm this issue still occurs with the latest Brick?

[2014-04-30 20:02] fwenzel commented on #145
Might want to error out the build script if the git status is dirty.

[2014-04-30 20:03] potch opened #169 "Update Download Page"
Add 'Advanced' section for adjusting polyfill and mixin inclusion

[2014-04-30 20:16] tofumatt commented on #155
Oh, yeah, this is fixed by #151.

[2014-04-30 20:16] #155 closed, assigned to nobody

[2014-05-01 03:46] waldyrious commented on #143
That'd be great. Should I submit a PR?

[2014-05-01 22:55] pennyfx commented on #50
https://www.nuget.org/packages/Brick/

https://github.com/pennyfx/nuget-brick

I wasn't sure about the folder structure, so I dumped the files at the root of the project.  If you have a preferred location that is frequently used for web-apps then we can change that behavior.

[2014-05-01 22:55] #50 closed, assigned to nobody

[2014-05-06 00:08] nickdesaulniers commented on #95
Looks like something changed in regards to which tab is the selected tab?  When the app loads, I see the single tab with no content, but if I click the single tab, the content is shown.
![screen shot 2014-05-05 at 5 07 48 pm](https://cloud.githubusercontent.com/assets/1823839/2884810/8eb797d8-d4b2-11e3-8646-abe260647ada.png)

[2014-05-06 18:07] potch opened #170 "Update JSZip on the Download page"
There's a new version that fixes a bug- so we should totally use that!

[2014-05-06 18:08] potch opened #171 "Move demos to <iframe> elements"
This will prevent strange overflow behavior and also let us show demos in a new tab/full screen.

[2014-05-06 18:09] pennyfx commented on #157
We are going to wrap demos inside iframes

Closing this, will be fixed by  #171

[2014-05-06 22:50] nickdesaulniers commented on #95
For future travelers, see https://github.com/nickdesaulniers/fxos-irc/commit/16f016b3487cad83b2aaeec6b48f18b37c4d44fc

[2014-05-06 22:50] #95 closed, assigned to potch

[2014-05-07 00:04] nickdesaulniers opened #172 "update tabbar example to have a default selected tab"
from [with x-deck](http://mozilla.github.io/brick/demos/x-tag-tabbar/index.html)

[2014-05-07 14:36] maitredede commented on #50
The usual location for scripts is ~/Scripts :)

[2014-05-07 23:52] fwenzel commented on #172
Yeah I think that makes sense.

[2014-05-10 13:29] tofumatt opened #173 "x-tag demos in separate repos is really confusing/weird"
I'm working on #172, and it's really awkward to edit the docs/demo section. It reminds me of the days of updating playdoh-lib/vendor stuff, where I have to update another repo then have it be pushed as a tag **then** update the bower file in brick and build out the new site for my changes to brick's docs to land.

We should host the brick site docs in this repo.

[2014-05-10 13:35] tofumatt commented on #172
Filed a pull request with x-tag and also #173 because of how this system is a bit wonky.

Once the code is landed in x-tag and we update the bower version here this can be fixed.

[2014-05-13 18:05] potch commented on #173
No argument here. We can find a home in the brick/ repo for the demo/docs templates for each component. I do like the notion of keeping the actual text of the docs within the xtag.json files so long as the components are in their own repos.

[2014-05-13 18:15] pennyfx opened #174 "Use entire Platform.js polyfill"
Replace piecemeal polyfill solution with platform.js

[2014-05-21 08:17] nsisodiya opened #179 "x-tag-core has platform code"
I am new to custom-elements
# First thought

There is a mismatch between
https://github.com/mozilla/brick/blob/master/dist/x-tag-core.js
& https://github.com/x-tag/core/blob/master/src/core.js
x-tag-core include polyfill code too, which should be removed.
I wish to see one platform.js.

1-- platform.js   (contains all polyfills)
2-- x-tag/core/blob/master/src/core.js (as it is)
3-- brick.js (remov

[2014-05-22 06:05] nsisodiya commented on #179
I have created small demo http://jsfiddle.net/nsisodiya/266tt/  of x-flipbox without using brick.js (using individual js files)

[2014-05-27 17:25] pennyfx commented on #170
Fixed here.   https://github.com/mozilla/brick/pull/178

[2014-05-27 17:25] #170 closed, assigned to nobody

[2014-05-27 17:26] pennyfx commented on #169
https://github.com/mozilla/brick/pull/178

[2014-05-27 17:26] #169 closed, assigned to nobody

[2014-05-30 02:56] GrosSacASac opened #180 "Would like smaller download option"
I visited the brick doc and downloaded the flipbox thing. I then took a look at the js and css and it was so so big. Too big for my project (where I have other must-big files). Make it smaller or reduce it.

[2014-05-30 03:04] pennyfx commented on #180
We're working on a more granular downloader for Brick, but in the mean time checkout X-Tags.org download page. http://www.x-tags.org/download    You can pick and choose what dependencies you want.   Also, I should mention that majority of the size of web components comes from the polyfills that are required for older browsers.

[2014-06-01 23:30] fwenzel commented on #180
You can also build your own bundle here and just select flipbox: http://mozilla.github.io/brick/download.html

This brings the minified size to a total of 40k, or well smaller than a single picture in your project.

Also, as web components become established in browsers, at some point, you will not have to use polyfill code anymore; until then, there is some overhead, though that overhead gets sma

[2014-06-01 23:30] #180 closed, assigned to nobody

[2014-06-03 18:07] potch commented on #179
We distribute these together for convenience, but will be adding the option to remove the polyfills from the bundle.

[2014-06-03 18:07] #179 closed, assigned to nobody

[2014-06-03 18:13] potch commented on #172
Wonkiness confirmed. We're going to move Brick-specific demos to the brick repository and let individual components do their own demos if they so desire.

[2014-06-03 18:16] potch commented on #159
haven't been able to repro this, and haven't heard back. Let me know if you have more information!

[2014-06-03 18:16] #159 closed, assigned to nobody

[2014-06-10 05:44] nsisodiya commented on #179
I guess, Polymer project must also delete https://github.com/Polymer/platform/blob/master/platform.js from their repo !
A joint repo should be created ( like https://github.com/webPlatform/webPlatform/blob/master/webPlatform.js ) which will serve for both project.

[2014-06-12 13:04] nsisodiya opened #181 "demo x-daterange"
just published a x-daterange,
have a look  - http://nsisodiya.github.io/x-daterange/
Need lots of modifications.

Thanks  X-tag team and all developer !

[2014-06-12 13:38] sole commented on #181
Woooo this is pretty cool!

Thanks to you! :+1:

[2014-06-25 08:40] nsisodiya commented on #181
Any possibilities to add x-daterange inside Brick library ??

[2014-06-28 10:55] sole commented on #181
We're rethinking and shaking a few things around Brick-let us get back to you soon :D

Sorry for the delay in answering, I am in a conference and I think @potch is travelling too. We don't forget about you, rest assured!

[2014-07-10 18:03] sole opened #190 "Sync the new Brick code with the website in gh-pages"
If I visit the site I get the old one with references to old components, but the source right now mentions the new components.

(Can I have a new label which is 'confusing'? :lollipop:)

[2014-07-10 19:56] sole opened #191 "Use 'WebComponentsReady' in examples and documentation"
From the IRC conversation:
- otherwise 'load' fires too early and `showCard` in the deck doesn't exist yet
- polyfilled custom elements and html imports don't block domcontentready. they will in native. thus the custom event

[2014-07-10 21:14] sole opened #192 "Should not need to use a local server to try Brick"
An unfortunate side effect of using platform.js is that now you need to use a local server to try these examples when you check them out locally or else you get ALL THE ERRORS. For example:

[code]

This is not mentioned anywhere in the README/docs--or at least not anywhere visible enough that I can recall.

[2014-07-10 21:19] sole opened #193 "Investigate generating self-contained brick.js + brick.css"
And possibly a version with platform.js and another one without it.

Why? Because I don't want to ship Mortar templates with a dependency that loads a gazillion files on demand. Also because including a .js file + a .css file in a site is so much easier, and we'd hopefully won't be forcing devs to fire up a local server only to check out the template because otherwise weird errors happen (see #192

[2014-07-10 21:21] sole commented on #166
Fixed in https://github.com/mozbrick/mozbrick.github.io/commit/12bde0d950f79de93ce22a06681f433fa87cf60f

[2014-07-10 21:21] #166 closed, assigned to nobody

[2014-07-10 21:25] sole opened #194 "Status of dist builder with the new Brick?"
Will be still be able to build our own distribution online?

[2014-07-14 22:25] csuwildcat opened #196 "All components FOUC the page regardless of resource load timing or page caching"
Not sure if this is already something you're looking at with these new non-X-tag components, but I noticed all the new versions of these components flash a broken state regardless of when they are loaded, or if the page is cached.

[2014-07-15 00:09] nicola opened #197 "Installing gulp via npm after cloning the repository gives an error"
I have a fresh install of Mavericks in front of me, this is what I did:
1. Installed node (v0.10.29)
2. Installed bower (1.3.8)
3. git cloned this repository

Now, when installing `gulp` in that folder I get:

[code]

However if I switch path and I execute the same command it succeeds. Maybe an issue with the package.json or a folder issue since it may go and look into the folder gulp?

[2014-07-15 00:14] nicola commented on #197
My second suggestion is correct. By renaming the folder `gulp`, installing gulp succeeds.
Hence we need to change name of that folder.

[2014-07-15 10:36] 0x-r4bbit opened #198 "What's the reason for moving brick way of using x-tags under the hood"
While I actually like the fact that Brick embraces native web components technologies, I still wonder why the decision has been made that it doesn't use x-tags under the hood anymore.

[2014-07-15 18:06] potch commented on #198
I have a blog post coming that explains all this- stay tuned!

[2014-07-15 18:06] #198 closed, assigned to nobody

[2014-07-15 18:09] potch commented on #196
Yep- it's an unfortunate side effect of HTMLImports not blocking page load. Polymer offers an [unresolved] attribute for the purposes of obscuring the FOUC, which we will likely use and document as a best practice. Most complex webapps have a splash screen, and perhaps even a `<splash-screen>` is something developers may want.

[2014-07-15 18:11] potch commented on #194
Yes! This is pretty easy to do using the existing `dist/` directory, but custom zip files is on the roadmap. Leaving this issue to track it.

[2014-07-15 18:14] rorito opened #199 "Port Appbar to Brick 2.0"

[2014-07-15 18:15] potch commented on #193
I intend to offer a 'brick.min' html import that only has one js and one css file, respectively. There is a possibility of converting all the templates to JS and offering a pure JS+CSS, but that would not be something people could easily do a la carte. Documenting and teaching people about best practices re vulcanize and bower is good, but won't help the mortar use case.

[2014-07-15 18:16] rorito opened #200 "Port ListView to Brick 2.0"
and uplift to brick site, bower repo, etc

[2014-07-15 18:17] rorito opened #201 "Port toggle to Brick 2.0"

[2014-07-15 18:17] rorito opened #202 "Port slider to Brick 2.0"

[2014-07-15 18:18] potch commented on #192
This is a side effect of the HTMLImports polyfill. Will see if we can alleviate it, or document easy eays to serve files locally. Note that anyone using webfont will already have to have a local server, and this is something we should be pitching for all webdevs. File:/// is _full_ of bugs.

[2014-07-15 18:18] rorito opened #203 "Gaia 2.0 style for AppBar"

[2014-07-15 18:18] rorito opened #204 "Gaia 2.0 style for TabBar"

[2014-07-15 18:19] potch commented on #190
I see you went and made the label :grin:. The Brick site has been updated!

[2014-07-15 18:19] #190 closed, assigned to nobody

[2014-07-15 18:19] rorito opened #205 "Gaia 2.0 style for slider"

[2014-07-15 18:19] potch commented on #174
We are now doing this!

[2014-07-15 18:19] #174 closed, assigned to nobody

[2014-07-15 18:20] potch commented on #173
Brick 2.0 has demos in the main site repository.

[2014-07-15 18:20] #173 closed, assigned to potch

[2014-07-15 18:20] rorito opened #206 "Gaia 2.0 style for toggle"
Gaia 2.0 PSD
https://www.dropbox.com/sh/klpt0h6pfe2rjn7/AADUs0J_XEsQEsOPH9qlyvZwa

Gaia 2.0 CSS examples (by Casey & Wilson)
https://github.com/caseyyee/gaia-controls
http://caseyyee.github.io/gaia-controls/src/app/index.html

[2014-07-15 18:23] potch commented on #165
The goal in Brick 2.0 will be to allow any element to be a 'card' in a deck and remove the need for a specific card element. Right now this is not yet the case, so leaving this bug open to track.

[2014-07-15 18:23] rorito opened #207 "Create Brick Action Menu"
Gaia 2.0 PSD
https://www.dropbox.com/sh/klpt0h6pfe2rjn7/AADUs0J_XEsQEsOPH9qlyvZwa

Gaia 2.0 CSS examples (by Casey & Wilson)
https://github.com/caseyyee/gaia-controls
http://caseyyee.github.io/gaia-controls/src/app/index.html

Existing Gaia 1.3 Action Menu
http://buildingfirefoxos.com/building-blocks/action-menu.html

[2014-07-15 18:24] potch commented on #191
Yup!

[2014-07-15 18:25] potch commented on #201
We will be styling checkboxes and radio buttons instead of using the toggle.

[2014-07-15 18:25] #201 closed, assigned to nobody

[2014-07-15 18:34] rorito opened #208 "Docs showing how to solve common layout issues using brick layout"
Show examples at bottom of:
http://mozbrick.github.io/docs/brick-layout.html

[2014-07-15 18:34] fwenzel commented on #192
Fwiw, it's why recroom ships (will ship) with `recroom serve`. Every dev needs it. Unless of course they are making a packaged app.

[2014-07-15 18:40] rorito opened #209 "Create Brick Button"
Gaia 2.0 PSD
https://www.dropbox.com/sh/klpt0h6pfe2rjn7/AADUs0J_XEsQEsOPH9qlyvZwa

Gaia 2.0 CSS examples (by Casey & Wilson)
https://github.com/caseyyee/gaia-controls
http://caseyyee.github.io/gaia-controls/src/app/index.html

Existing Gaia 1.3 Button
http://buildingfirefoxos.com/building-blocks/buttons.html

[2014-07-15 18:42] rorito opened #210 "Gaia 2.0 style for Brick Action Menu"
Gaia 2.0 PSD
https://www.dropbox.com/sh/klpt0h6pfe2rjn7/AADUs0J_XEsQEsOPH9qlyvZwa

Gaia 2.0 CSS examples (by Casey & Wilson)
https://github.com/caseyyee/gaia-controls
http://caseyyee.github.io/gaia-controls/src/app/index.html

Existing Gaia 1.3 Action Menu
http://buildingfirefoxos.com/building-blocks/action-menu.html

[2014-07-15 18:43] rorito opened #211 "Gaia 2.0 style for Brick Button"
Gaia 2.0 PSD
https://www.dropbox.com/sh/klpt0h6pfe2rjn7/AADUs0J_XEsQEsOPH9qlyvZwa

Gaia 2.0 CSS examples (by Casey & Wilson)
https://github.com/caseyyee/gaia-controls
http://caseyyee.github.io/gaia-controls/src/app/index.html

Existing Gaia 1.3 Button
http://buildingfirefoxos.com/building-blocks/buttons.html

[2014-07-15 18:46] rorito opened #212 "Gaia 2.0 style for Slide Out Menu (achieved through x-layout)"

[2014-07-15 18:51] rorito opened #213 "Create Brick Confirmation dialog"
This could be done as a broader modal dialog that we modify into Confirm, Alert, Action, etc.
The Gaia 2.0 dialogs make the background slightly opaque and seem to float in the middle of the screen.

http://caseyyee.github.io/gaia-controls/src/app/index.html
http://caseyyee.github.io/gaia-controls/src/app/.dialogue-confirm

[2014-07-15 18:52] rorito opened #214 "Gaia 2.0 style for Brick Confirm"

[2014-07-15 18:55] rorito opened #215 "Create Brick Menu"
Simple Menu wired up using brick-action.

See styling and effects in the Menu section here:
http://caseyyee.github.io/gaia-controls/src/app/index.html

[2014-07-15 18:55] rorito opened #216 "Gaia 2.0 style for Brick Menu"
http://caseyyee.github.io/gaia-controls/src/app/index.html

[2014-07-15 19:14] 0x-r4bbit commented on #198
@potch great thanks, but where can I follow these updates?

[2014-07-15 21:03] sole commented on #192
I thought we learnt [a lesson](https://github.com/mozilla/mortar-list-detail/commit/ee1f25efe4acdab25bd8b2d97fa4fa65a2eed383).

Needing a local server makes it so much more inflexible and annoying to try things out. Specially on the first 'casual' step when you don't want to invest too much effort on the product. Lose users on that step and you're losing a massive amount of users.

[2014-07-15 21:40] rorito opened #217 "Investigate "Stucco" - how to package styling for generic HTML5 components"

[2014-07-15 21:42] rorito opened #218 "Create Brick Progress Bars & Activity Indicators"

[2014-07-15 21:42] rorito opened #219 "Gaia 2.0 style for Brick Progress Bars & Activity Indicators"

[2014-07-15 21:43] rorito opened #220 ""Stucco" for Input Areas / Forms - Gaia 2.0 styles"

[2014-07-15 23:41] potch commented on #192
@sole what is your recommendation? Any app that uses XHR might have bugs from using file:/// urls, webfonts won't work, and it seems the HTMLImports polyfill doesn't like file:///

[2014-07-16 00:46] fwenzel commented on #171
standalone demos now.

[2014-07-16 00:46] #171 closed, assigned to potch

[2014-07-16 00:47] fwenzel commented on #36
x-layout exists™ in Brick 2.0

[2014-07-16 00:47] #36 closed, assigned to nobody

[2014-07-16 00:48] fwenzel commented on #117
closing this in favor of per-component Issues for 2.0

[2014-07-16 00:48] #117 closed, assigned to nobody

[2014-07-16 00:49] fwenzel commented on #106
@potch are we console.log free now?

[2014-07-16 11:24] sole commented on #192
My concern is that "new" Brick is worse compared to "old" Brick because old Brick could work out of the box with just including a CSS and a JS file. This new Brick doesn't. I guess in other contexts this could be called a regression :-P

Also: the fact that we are doing XHR is totally obscure to the innocent developer that wants to try _Web Components By Mozilla_. In other libraries you can kind o

[2014-07-16 12:29] sole commented on #193
In Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1039467 - please close when done? :-)

[2014-07-16 12:44] sole commented on #200
In bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1039473

[2014-07-16 18:16] potch commented on #139
Brick 2.0 will not be using x-toggle element in favor of styled individual checkboxes and radiobuttons.

[2014-07-16 18:16] #139 closed, assigned to nobody

[2014-07-16 18:16] potch commented on #138
Brick 2.0 will not be using x-toggle element in favor of styled individual checkboxes and radiobuttons.

[2014-07-16 18:16] #138 closed, assigned to nobody

[2014-07-16 18:33] rorito opened #221 "Evaluate Polymer Paper components and figure out if we need Brick versions"
... or how we can interop with them or explain to users how to use them in conjunction with brick

http://www.polymer-project.org/docs/elements/paper-elements.html

[2014-07-16 20:44] potch commented on #221
perhaps for interop, but definitely not part of the 2.0 timeframe.

[2014-07-16 20:46] potch commented on #219
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:46] #219 closed, assigned to nobody

[2014-07-16 20:46] potch commented on #216
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:46] #216 closed, assigned to nobody

[2014-07-16 20:46] potch commented on #214
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:46] #214 closed, assigned to nobody

[2014-07-16 20:46] potch commented on #212
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:46] #212 closed, assigned to nobody

[2014-07-16 20:47] potch commented on #211
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:47] #211 closed, assigned to nobody

[2014-07-16 20:47] potch commented on #210
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:47] #210 closed, assigned to nobody

[2014-07-16 20:47] potch commented on #206
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:47] #206 closed, assigned to nobody

[2014-07-16 20:47] potch commented on #205
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:47] #205 closed, assigned to nobody

[2014-07-16 20:47] potch commented on #204
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:47] #204 closed, assigned to nobody

[2014-07-16 20:47] potch commented on #203
For potential components, assume the issue cannot be fixed unless the component is properly styled.

[2014-07-16 20:47] #203 closed, assigned to nobody

[2014-07-16 21:00] potch commented on #202
This might be more visual styling for <input type="range"> than a proper component.

[2014-07-16 21:19] potch commented on #172
We're re-doing the demo pages- will make sure the new demo has this.

[2014-07-16 21:19] #172 closed, assigned to nobody

[2014-07-16 21:20] potch commented on #164
Old example has been removed from Brick.

[2014-07-16 21:20] #164 closed, assigned to potch

[2014-07-16 21:24] potch commented on #162
This will depend on compatibility Grid testing, coming in 2.0.

[2014-07-16 21:26] potch commented on #20
This demo is no longer on the Brick homepage.

[2014-07-16 21:26] #20 closed, assigned to nobody

[2014-07-16 21:26] potch commented on #127
Currently re-building the download page from scratch, so will track this over on the site repo.

[2014-07-16 21:26] #127 closed, assigned to nobody

[2014-07-16 21:27] potch commented on #120
examples are no longer in this repo- tracking over at mozbrick/mozbrick.github.io

[2014-07-16 21:27] #120 closed, assigned to potch

[2014-07-16 21:28] potch commented on #118
The new responsive attributes in layout solves this pretty dang well :)

[2014-07-16 21:28] #118 closed, assigned to nobody

[2014-07-16 21:30] potch commented on #116
We should do this- tracking in the new site repo at https://github.com/mozbrick/mozbrick.github.io/issues/10

[2014-07-16 21:30] #116 closed, assigned to sole

[2014-07-16 21:31] potch commented on #27
Testing grid support (coming in Brick 2) will answer these questions definitively.

[2014-07-16 21:33] potch opened #222 "Add testing grid support"
Let's get Travis CI working with Sauce Labs so we have sanity checks for all major platforms. Let's aggregate this information so devs know which platforms work with Brick.

[2014-07-16 21:33] potch commented on #27
Tracking this in https://github.com/mozbrick/brick/issues/222.

[2014-07-16 21:33] #27 closed, assigned to nobody

[2014-07-16 21:33] potch commented on #37
The new brick site addresses this!

[2014-07-16 21:33] #37 closed, assigned to potch

[2014-07-16 21:38] potch commented on #51
This is now being tracked in https://github.com/mozbrick/brick-deck/issues/5.

[2014-07-16 21:38] #51 closed, assigned to nobody

[2014-07-16 21:39] potch commented on #64
Brick 2 will be using proper Shadow DOM, so issues about encapsulation and exposure should be much more manageable.

[2014-07-16 21:39] #64 closed, assigned to nobody

[2014-07-16 21:50] potch commented on #74
Tabbar will truncate text instead of allowing contents to scroll.

[2014-07-16 21:50] #74 closed, assigned to nobody

[2014-07-16 21:54] potch commented on #80
Closing this up, I'm not sure what the issue is.

[2014-07-16 21:54] #80 closed, assigned to nobody

[2014-07-16 21:55] potch commented on #78
tracking this here: https://github.com/mozbrick/brick-flipbox/issues/4

[2014-07-16 21:55] #78 closed, assigned to nobody

[2014-07-16 21:58] dotch opened #224 "html import files should not be full documents"
because otherwise vulcanize does not handle them well.
instead they should just contain link and script.

[2014-07-16 21:59] potch commented on #113
Slidebox is no longer part of Brick - apologies!

[2014-07-16 21:59] #113 closed, assigned to nobody

[2014-07-16 22:00] potch commented on #97
Brick is no longer using x-tag, so this is no longer valid.

[2014-07-16 22:00] #97 closed, assigned to nobody

[2014-07-16 22:01] potch commented on #102
We will likely not be having custom date formatting, due to the large filesize necessary to do so correctly.

[2014-07-16 22:01] #102 closed, assigned to nobody

[2014-07-16 22:02] potch commented on #106
Brick components are now `console.log` free!

[2014-07-16 22:02] #106 closed, assigned to nobody

[2014-07-16 22:03] potch commented on #130
Work is underway to port ffos elements to Web components- that work will occur outside this project.

[2014-07-16 22:03] #130 closed, assigned to nobody

[2014-07-16 22:04] potch commented on #137
Will track this in individual component repos. Still a very good idea.

[2014-07-16 22:04] #137 closed, assigned to nobody

[2014-07-16 22:05] potch commented on #140
We are keeping tabbar due to its useful and distinctive styling, but pushing brick-action for most trigger wiring.

[2014-07-16 22:05] #140 closed, assigned to nobody

[2014-07-16 22:05] potch commented on #142
We're looking at a scrolling calendar that wouldn't have this issue. Tracking this in the mozbrick/brick-calendar repo.

[2014-07-16 22:05] #142 closed, assigned to nobody

[2014-07-16 22:06] potch commented on #157
This demo is no longer around, so this is no longer an issue.

[2014-07-16 22:06] #157 closed, assigned to nobody

[2014-07-16 22:06] potch commented on #162
closing this in favor of https://github.com/mozbrick/brick/issues/222.

[2014-07-16 22:06] #162 closed, assigned to nobody

[2014-07-16 22:07] potch commented on #163
tracking this in the mozbrick/mozbrick.github.io/ repo instead.

[2014-07-16 22:07] #163 closed, assigned to potch

[2014-07-16 22:08] potch commented on #197
Fixed by #223.

[2014-07-16 22:08] #197 closed, assigned to potch

[2014-07-16 22:10] potch commented on #143
This demo has been removed in the new Brick site.

[2014-07-16 22:10] #143 closed, assigned to nobody

[2014-07-16 22:12] dotch commented on #40
closing because it will tracked in the individual repo at https://github.com/mozbrick/brick-calendar/issues/3

[2014-07-16 22:12] #40 closed, assigned to nobody

[2014-07-16 22:13] dotch commented on #53
will be tracked in the indiviudal repo at
https://github.com/mozbrick/brick-calendar/issues/4

[2014-07-16 22:13] #53 closed, assigned to potch

[2014-07-16 22:16] dotch commented on #101
will be tracked in the individual repo at https://github.com/mozbrick/brick-calendar/issues/5

[2014-07-16 22:16] #101 closed, assigned to potch

[2014-07-16 22:17] dotch commented on #58
will be tracked in the calendar repo at https://github.com/mozbrick/brick-calendar/issues/6

[2014-07-16 22:17] #58 closed, assigned to nobody

[2014-07-16 22:17] sole commented on #157
hahaha! :+1: solving issues by removing code! now we're talking!

[2014-07-16 23:40] fwenzel commented on #192
Sole has a point. There should be a quick-and-easy way to start. Can code Brick with HTML imports for our convenience, but digest it into a more easily usable version for the general public?

[2014-07-16 23:50] fwenzel commented on #157
That's why we pay potch by LOC removed ;)

[2014-07-17 12:47] sole commented on #199
bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1040046

[2014-07-18 07:12] dotch commented on #224
fixed.

[2014-07-18 07:12] #224 closed, assigned to dotch

[2014-07-18 07:14] dotch commented on #199
added appbar, see #223

[2014-07-18 07:14] #199 closed, assigned to dotch

[2014-07-18 08:58] sole commented on #199
brilliant, I'll update (read = close) the bugzilla issue!

[2014-07-18 08:59] sole commented on #199
oh it was closed already. even better! Thanks @dotch! \o/

[2014-07-18 09:02] sole commented on #194
Custom zip files builder tracked in this website issue: https://github.com/mozbrick/mozbrick.github.io/issues/11

[2014-07-18 09:02] #194 closed, assigned to potch

[2014-07-18 18:16] dotch commented on #165
will be tracked in https://github.com/mozbrick/brick-deck/issues/6

[2014-07-18 18:16] #165 closed, assigned to nobody

[2014-07-19 01:27] dotch commented on #198
@PascalPrecht the blog post and future updates can be found on the brick-blog at:
http://mozbrick.github.io/blog/

[2014-07-19 08:00] 0x-r4bbit commented on #198
@dotch thank you!

[2014-07-19 09:25] dotch opened #227 "move brick-common to mozbrick, clean it up, extend it"
https://github.com/mozilla/brick-common

[2014-07-19 12:53] waldyrious commented on #198
Any chance the blog can get an RSS feed?

[2014-07-21 00:54] fwenzel commented on #198
It's jekyll, it prob already has one? @potch ?

[2014-07-21 21:51] potch commented on #129
I've added the file- let me know if you find it sufficient! https://github.com/mozbrick/brick/blob/master/CONTRIBUTING.md

[2014-07-22 01:03] waldyrious commented on #142
For future reference, this is now being tracked at mozbrick/brick-calendar#2.

[2014-07-22 03:12] potch commented on #129
Closing this up!

[2014-07-22 03:12] #129 closed, assigned to potch

[2014-07-22 14:37] sole commented on #129
This is really good!

[2014-07-22 18:53] lmorchard commented on #207
I can try taking a crack at this

[2014-07-22 22:04] fwenzel commented on #129
<3

[2014-07-22 22:05] fwenzel commented on #207
@dotch can help answer questions if you have any :)

[2014-07-22 22:06] dotch commented on #207
yes. our yeoman generator is a good starting point. https://github.com/mozbrick/generator-brick

[2014-07-22 23:24] dotch opened #230 "demo links in repos should link to the brick-pages example section"

[2014-07-23 05:31] nicola commented on #192
+1 with @sole

But a little server should not scare too many people, between recroom, gulp and my dear little server for dummies..

[code]

[2014-07-25 00:02] fwenzel commented on #199
What are the styles on this? Since we don't have separate style Issues, can't close this without it looking like Gaia.

[2014-07-25 00:06] dotch commented on #199
gaia style for appbar is currently tracked here:
https://github.com/mozbrick/brick-appbar/issues/1
but we can also reopen this issue since i closed it too early.

[2014-07-25 21:52] potch commented on #230
Provided there are demos on the Brick site, yes!

[2014-07-25 21:58] dotch commented on #230
yes every component's examples should be living in a subdir of the main pages examples directory.
i will work on that.

[2014-07-25 22:07] potch opened #231 "Allow a `--theme` option to build project with a different theme"
This should pull a different set of theme files from the `theme` directory of each component, and build a custom HTML Import for the project.

[2014-07-28 20:31] lmorchard commented on #207
Dumped some in-progress work onto github:

https://github.com/lmorchard/brick-action-menu
http://lmorchard.github.io/brick-action-menu/

[2014-07-29 06:02] nsisodiya opened #233 "Creatd Brick-Progressbar"
Hello Everybody here,
      I am very much interested in web Components.
I have created Brick-Progressbar.
Demo - http://nsisodiya.github.io/brick-progressbar/
Codebase - https://github.com/nsisodiya/brick-progressbar

1) I would like to know that How this code can be included in main Brick repo.
2) If Brick developer think that this code is not useful then I will change rename it.
3) I need 2-3 d

[2014-07-29 06:40] nsisodiya commented on #218
@potch  - please have a look at https://github.com/mozbrick/brick/issues/233

[2014-07-29 16:19] fwenzel commented on #233
How cool! I have a random question: What does it do that `<progress>` doesn't? https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress

[2014-07-29 18:14] potch commented on #233
Thanks for the contribution! @dotch is going to review the code. If tweaks are needed, we can either transfer the repository to the mozbrick organization or fork the repository into the mozbrick organization.

[2014-07-30 06:00] nsisodiya commented on #233
@fwenzel ,

<progress> element do not have attribute like "showStatus", "showPercentage" "striped" , "active", Also <process> do not contains "min" attribute. At the same time, <process> do not contains animation. look and feel is different for every browser.

In case, if you are hinting that "Why we need <brick-progressbar> when we have <progress>" then here is my long answer.

AFAIK - The whole

[2014-07-30 06:01] nsisodiya commented on #233
@potch Thanks for +ve reply.

[2014-07-31 18:43] lmorchard commented on #207
Okay, I think I have a first rough feature complete version based on CSS stolen from buildingfirefoxos.

Haven't yet taken a look at theme support, or at using the newer guidelines. I plan to do that next.

But, this could probably use some eyeballs on it now if only to tell me if I'm entirely off base with how these things need to be built. (and also because I'm rusty on the client-side and could

[2014-07-31 19:17] dotch commented on #207
I can take a look at it!
if you want to catch up on how we do theme support and our slightly different new build process take a look at [brick-tabbar](https://github.com/mozbrick/brick-tabbar).

[2014-07-31 19:48] lmorchard commented on #207
Cool beans, I'll take a swing by brick-tabbar and see what I can port over to here!

[2014-08-01 09:26] nsisodiya commented on #233
@dotch & @potch
    waiting for reply at - https://github.com/nsisodiya/brick-progressbar/issues/1

[2014-08-01 23:32] fwenzel commented on #207
How does the buildingfirefoxos style relate to Gaia 2.0? We might not get away with stealing CSS only from there :-/

[2014-08-02 01:10] dotch commented on #207
maybe dialogues (especially action dialogue) form [caseyyee](http://caseyyee.github.io/gaia-controls/) are a better way to style this?

[2014-08-03 23:24] robdodson opened #234 "brick-menu inside of brick-deck does not render initially"
If I have a brick-menu inside of a brick-deck I need to toggle the deck card offscreen and then back on to actually see the menu

[2014-08-04 22:43] dotch opened #235 "investigate using autoprefix instead of current prefixing functions"
https://www.npmjs.org/package/gulp-autoprefixer
https://github.com/ai/autoprefixer

could be a less maintenance requiring solution.

[2014-08-05 18:11] potch commented on #234
@robdodson make sure you have the card you would like `selected` by default. If it's still not working, will investigate.

[2014-08-05 18:25] potch commented on #200
I'll need to do a bit more style work before I close this up.

[2014-08-05 18:29] robdodson commented on #234
ah ok that fixed it. I think I only had `selected-index` set. Is there a reason why I need to set both attributes? It seems like I'd always want `selected-index` and `selected` to match the same element. Could `selected-index` just place `selected` on whichever child matches the index when it starts up?

[2014-08-05 18:35] potch opened #237 "Create brick-select"
A nicer, mobile-friendly wrapper around a `<select>`. Allow multi-select as well.

[2014-08-05 18:36] potch commented on #234
We'll fix brick-deck so if either is set at initialization, the other will be properly initialized.

[2014-08-05 19:48] nicola commented on #215
I think one should use brick-action independently inside that. I am now building a set of examples but for the moment:

[code]

[2014-08-05 20:16] nicola commented on #230
would we rather have multiple page examples or a single page wrapping them all?

[2014-08-05 20:43] sole opened #238 "Add description of each component so it can be loaded/queried in customelements.io"
Hey I do not want to be opening a new bug per component so I thought it'd be better to open an issue for this? (totally unsure)

If you add a description to each component it will show up when people search for `brick-` things in that website.

[2014-08-05 21:00] fwenzel commented on #235
I like that!

[2014-08-05 21:10] fwenzel commented on #200
<3

[2014-08-05 21:11] fwenzel opened #239 "TabView component for Brick 2.0"
https://bugzilla.mozilla.org/show_bug.cgi?id=1039481

The mortar tab view template needs to be able to create this, maybe not in one component, but certainly with the help of a tab bar and associated cards.

[2014-08-05 21:13] potch commented on #239
Not sure what this component is, other than combining a tabbar and a deck.

[2014-08-05 21:15] fwenzel commented on #239
sounds about right; if that's done, close this and the bugzilla bug? <3

[2014-08-05 22:08] potch commented on #238
ooh, yes! this is a good idea.

[2014-08-05 22:08] potch commented on #238
Is this just a repository description?

[2014-08-05 22:12] sole commented on #238
It's the repository description for each project-sorry I didn't make it clear!
![screenshot 2014-08-05 15 11 22](https://cloud.githubusercontent.com/assets/5609/3819691/7e030ebc-1ced-11e4-869d-2ef6417dc27b.png)
For example in this image `generator-brick` and `brick` have descriptions but `brick-menu` has not.

[2014-08-06 00:23] nsisodiya commented on #233
@potch @dotch  - I am done from my side, Please fork or transfer this repo. Only CSS related changes are remaining which can be done later. My skills on CSS is are not excellent.
See demo on final code from my side - http://nsisodiya.github.io/brick-progressbar/

[2014-08-06 07:01] dotch commented on #239
something like this? (watch at maximum 767px width)
http://mozbrick.github.io/examples/brick-layout/tabs.html
(old demo, and currently only at small screen size a tabbar but i think you can get the idea..)

[2014-08-06 07:33] dotch commented on #227
has been moved and basic work has been done. future issue will be tracked in the brick-common repo.

[2014-08-06 07:33] #227 closed, assigned to nobody

[2014-08-06 15:06] lmorchard commented on #207
Yes, [like I said](https://github.com/mozbrick/brick/issues/207#issuecomment-50801156), using the gaia 2.0 styling is where I'm going next. The buildingfirefoxos style is just what I got pointed to first, using it temporarily as I work out the rest.

Mainly asking for some feedback here on the web components basics, as well as the little bit of API this tag exposes.

[2014-08-06 21:23] lmorchard commented on #207
Okay, still working on it. But, I have some baby steps toward some copypasta of caseyyee's styles. Again, though, what I really need is feedback on the JS & web components bits behind the scenes

[2014-08-06 21:42] sole commented on #193
I did a preliminary exploration with vulcanise but I can't get too far away. I checked all and ran all the bowers and npm installs and stuff, then `npm install vulcanize` and changed to the `dist` folder to run this

[code]

But...

[code]

and `brick-common/brick-common.html` is definitely not in the `dist` folder. So I don't know...

[2014-08-06 22:05] dotch commented on #207
Sorry for not reviewing your code earlier.
I looked at it and did not find any issues with the js and webcomponent stuff. It is so far perfectly in line with what we do in the other components.
The only possible css thing i can recommend is using `host([visible])` instead of `host[visible]` even though both work, bu the first seems to be the [right way to do it](http://dev.w3.org/csswg/css-scoping

[2014-08-06 22:44] sole commented on #193
OK I found something! Seems like vulcanize is not happy with html imports relative paths including `../`. I tried this with another component I'm playing with and it didn't work because I was including a component using `../` in the path.

If I copy the component inside the folder (for example as you could do if the dependency was managed with `bower_components/something`) and the html import is n

[2014-08-06 23:12] potch commented on #193
Hmm, we are using vulcanize with ../ paths in a bunch of places, and it doesn't seem to be exploding. Can I see an example of the code somewhere?

[2014-08-06 23:19] sole commented on #193
@potch I'm building an example to try to reproduce it with the minimum code!

[2014-08-07 04:12] lmorchard commented on #207
Cool, thanks for the look! I'll poke at the CSS some more. Still wrapping my head around stylus a bit and what to separate from the core style into the theme. Assuming most of the gaia 2.0 stuff should go there

FWIW, you probably missed most of the dumb stuff I did and then stripped out after getting a closer look at tabbar :)

[2014-08-07 05:55] dotch opened #242 "dist folder contains old brick-common"

[2014-08-07 07:21] dotch opened #243 "brick-form is missing from dist folder"

[2014-08-07 07:28] dotch commented on #243
fixed with #244

[2014-08-07 07:28] #243 closed, assigned to nobody

[2014-08-07 07:28] dotch opened #245 "update readme to include all components"

[2014-08-07 07:37] nicola commented on #213
Working on it here: [nicola/brick-dialog](https://github.com/nicola/brick-dialog)
You can see it working here: http://nicola.github.io/brick-dialog/

Critics and comments before it gets into brick wanted! Starting from the naming whether it should be `brick-dialog` or `brick-modal`

[2014-08-07 07:46] nicola commented on #215
You can find this live: http://nicola.github.io/brick-menu/

[2014-08-07 07:57] nicola commented on #209
is this basically a `<brick-action><button></brick-action>` abstraction? or can a button be a link as well?

[2014-08-07 14:32] groovecoder opened #248 "Can I use brick without bower?"
I've never used bower, and I want to use a brick component ([`brick-calendar`](https://github.com/mozbrick/brick-calendar)) on an existing project. Can I use it without adding bower to my project?

[2014-08-07 17:22] lmorchard commented on #248
Sure, but you'd just be chasing down [the dependencies](https://github.com/mozbrick/brick-calendar/blob/master/bower.json#L22) manually instead. Bower's a package manager like `pip` or `npm`, doesn't do anything at run time for an app on the client side.

[2014-08-07 21:11] dotch commented on #242
fixed

[2014-08-07 21:11] #242 closed, assigned to nobody

[2014-08-07 21:28] #213 closed, assigned to nicola

[2014-08-07 21:30] potch commented on #248
Technically, you can! We don't distribute platform.js, but if you were to grab everything out of the `dist` directory, all the dependencies you need to run brick (aside from platform) are there. We're working on a 'minified' version of brick, which will be 2 files (html and css), and then a version that is just JS and CSS for environments where HTML Imports is a Bad Thing.

[2014-08-07 21:32] lmorchard commented on #207
Not sure where else to go with this thing after tinkering today. Got pretty much all of the Gaia 2.0 CSS working, along with some transitions. Not loading the gaia fonts on my demo page, so it looks a little different.

I guess now my questions are: Is it done enough? And if so, what do I do next to make it "official"?

[2014-08-07 21:35] lmorchard commented on #237
I could try taking a swing at this one after brick-action-menu is wrapped up

[2014-08-08 02:16] dotch opened #254 "minified version is not working; templates need IDs"
the brick.min.html is not working because it pulls all templates in one html file and they are selected by doing querySelector("template")
need to give every template and ID and select them based in the id.

[2014-08-08 17:22] #254 closed, assigned to nobody

[2014-08-08 18:37] sole commented on #193
So for anyone who stumbles upon this, the issues were due to some misconfiguration of Brick generating a `dist` folder with some missing files, and so Vulcanize was "going bananas". Once this is fixed Vulcanize **can** do its thing, but the output is not a JS + CSS but an HTML (import) + CSS.

[2014-08-08 18:39] nicola opened #257 "Interdependece of components triggers a double registration element error"
1. I am developing brick-button that depends on brick-action, **so I am importing src/brick-action**  from bower components
2. I want to use also brick-action, **so I am importing dist/brick-action** from bower components

So unless I vulcanize (good practice for production) I will have imported the brick-action twice.
**But** when in development mode for a peaceful non-suicidal debugging, you may

[2014-08-08 20:07] potch commented on #231
We should also allow theme = none!

[2014-08-08 21:11] nicola commented on #209
Here you are https://github.com/nicola/brick-button

[2014-08-08 23:48] sole opened #258 "Semibreakage in Firefox OS"
There is some weirdness with Brick + Firefox OS. Rendering of the [tab view template](https://github.com/sole/mortar-tab-view/tree/87eb5ab0f3f38c883a3b13a7d1603ce908bdb5a4) is inconsistent between versions of Fx OS:

**Firefox OS 1.2**
![screenshot 2014-08-08 16 44 20](https://cloud.githubusercontent.com/assets/5609/3864201/f3aa1542-1f55-11e4-9069-604da8c9dd9e.png)

**Firefox OS 1.3**
![screenshot

[2014-08-10 14:02] groovecoder commented on #248
Hmm ... then this is a feedback thread. I wanted/tried to use [brick-calendar](https://github.com/mozbrick/brick-calendar) on @wfwalker's [thecount](https://github.com/wfwalker/thecount) project. But I got to the `bower_components` part of [brick-calendar Usage](https://github.com/mozbrick/brick-calendar#usage) and I got scared off.

I went with [bootstrap-datepicker](http://www.eyecon.ro/bootstra

[2014-08-10 22:50] dotch commented on #245
fixed in #259

[2014-08-10 22:50] #245 closed, assigned to nobody

[2014-08-11 21:41] sole commented on #258
bugzilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=1052140

[2014-08-11 22:03] nicola commented on #237
I was going to assign this to me. @lmorchard are you working on it?

[2014-08-12 14:12] lmorchard commented on #237
[I've started poking at it](https://github.com/lmorchard/brick-select), but I don't have access to assign brick issues to myself

[2014-08-12 15:41] fwenzel commented on #237
Dude, speak up, those rights can be fixed...
![](http://www.dhs.gov/sites/default/files/images/opa/S4_Rect.jpg)

[2014-08-12 17:04] lmorchard commented on #207
FWIW, I just transferred ownership of my repo to [mozbrick/brick-action-menu](https://github.com/mozbrick/brick-action-menu). So, I'm going to call this issue done, because the component was _created_. Go ahead and plaster the thing with issues over at that repo.

[2014-08-12 17:04] #207 closed, assigned to lmorchard

[2014-08-12 18:51] lmorchard commented on #237
Created [mozbrick/brick-select](https://github.com/mozbrick/brick-select), but it's just the initial import from `yo brick` right now. Keeping this issue open until I've got at least a first functional version.

[2014-08-13 17:51] potch commented on #258
We'll wait to mark this as fixed until we have a working Firefox OS 2.0 build in our hands. Accountability!